<div class="about-us-header">
  <div class="about-us-header-text">
    <h1>Principled Research.</h1>
    <h1>Insightful Analysis.</h1>
    <h1>Engaged Experts.</h1>
  </div>
</div>

<div class="about-nav">
  <ul>
    <a href="/about-us.html" class="about-nav-first"><li>About</li></a>
    <a href="/impact.html"><li>Impact</li></a>
    <a href="/principles.html"><li>Principles</li></a>
    <a href="/staff.html"><li>Staff</li></a>
    <a href="/board.html"><li>Board</li></a>
    <a href="/financials.html"><li>Financials</li></a>
    <a href="/media.html"><li>Media</li></a>
    <a href="/careers.html"><li>Careers</li></a>
    <a href="/contact.html"><li>Contact</li></a>
  </ul>
</div>
