<div class="navbar__mobile-menu">
  <ul class="navbar__mobile-menu-items">
    <li class="navbar__mobile-menu-top-level-item">
      <a class="navbar__mobile-menu-top-level-link">Search</a>
      <div class="navbar__submenu">
        <div class="navbar__submenu-section container row">
          <input type="search">
        </div>
      </div>
    </li>
    {% for item in navbar %}
    <li class="navbar__mobile-menu-top-level-item">
      <a class="navbar__mobile-menu-top-level-link">{{item.heading}}</a>
      <div class="navbar__submenu container row">
        {% for submenu in item.submenus %}
        <div class="navbar__submenu-section">
          <h4>{{submenu.heading}}</h4>
          <ul>
            {% for link in submenu.links %}
              <li><a href="{{link.url}}">{{link.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
