<header class="navbar">
  <div class="container row navbar__bar">
    <div class="navbar__logo">
      <a href="#"><img src="images/tf-logo-228x35.svg" alt="" /></a>
    </div>
    <nav class="navbar__menu">
      <ul class="navbar__menu-items">
        {% for item in navbar %}
        <li class="navbar__menu-top-level-item">
          <a href="{{link.url}}" class="navbar__menu-top-level-link">{{item.heading}}</a>
          <div class="navbar__submenu">
            <div class="navbar__submenu-columns">
            {% for submenu in item.submenus %}
              <div class="navbar__submenu-section">
                <h3>{{submenu.heading}}</h3>
                <ul>
                  {% for link in submenu.links %}
                    <li><a href="{{link.url}}">{{link.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
            </div>
          </div>
        </li>
        {% endfor %}
        <li class="navbar__menu-top-level-item">
          <a class="navbar__menu-top-level-link">About</a>
        </li>
        <li class="navbar__menu-top-level-item">
          <a class="navbar__menu-top-level-link">Search</a>
          <div class="navbar__submenu">
            <div class="navbar__submenu-section container row">
              <input type="search" placeholder="Search...">
            </div>
          </div>
        </li>
        <li class="navbar__menu-top-level-item">
          <a class="navbar__menu-top-level-link donate">Donate</a>
        </li>
      </ul>
    </nav>
    <div class="navbar__menu-mobile-toggle">
      <a href="#">
        <img src="images/icons/hamburger.svg" alt="" />
      </a>
    </div>
  </div>
</header>
