<ul class="pagination">
  <li class="pagination__page pagination--prev">
    <a href="#">
      <svg class="icon icon__small">
        <use xlink:href="#arrow-left" />
      </svg>
    </a>  
  </li>
  
  <li class="pagination__page pagination--current"><a href="#">1</a></li>
  <li class="pagination__page"><a href="#">2</a></li>
  <li class="pagination__page"><a href="#">3</a></li>
  <li class="pagination__page"><a href="#">4</a></li>
  <li class="pagination__page"><a href="#">5</a></li>
  <li class="pagination__page pagination--next">
    <a href="#">
      <svg class="icon icon__small">
        <use xlink:href="#arrow-right" />
      </svg>
    </a>
  </li>
</ul>
