<ul class="categories">
  {% for category in post.categories %}
    <li><a href="{{category.url}}">{{category.name}}</a></li>
  {% endfor %}
</ul>

<h1>{{post.heading}}</h1>

<div class="title-bar">
  <p class="date">{{post.date}}</p>

    {% for author in post.authors %}
      {% include 'byline.html' with author %}
    {% endfor %}
</div>


<div>
  {{post.body | raw}}
</div>

<div>
  <ul class="tags">
    {% for tag in tags %}
      <li><a href="{{tag.url}}">{{tag.name}}</a></li>
    {% endfor %}
  </ul>
</div>
