%container--flex {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 calc(100% - 1rem);

    @include tablet-up {
      flex: 1;
      flex-wrap: nowrap;
    }
  }
}

.container {
  &--padded {
    padding: 0 1rem;
  }

  .container {
    margin-bottom: 0;
  }
}

// Default rows and columns with gutters
.row {
  @extend %container--flex;

  flex-direction: row;
  margin: 0 0 0 -1rem;

  @include tablet-up {
    margin: 0 0 0 -1rem;
  }

  > * {
    margin: 0 0 1rem 1rem;
  }
}

.column {
  @extend %container--flex;
  flex-direction: column;
  margin: -.5rem 0;

  > * {
    margin: .5rem 0;
  }

  &--fixed {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &--grow {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &--centered {
    margin: 0 auto;
  }
}

$column-widths: 10 20 25 30 33 40 50 60 66 70 80 90 100;

@include tablet-up {
  @each $width in $column-widths {
    .tablet-column-#{$width} {
      flex-basis: calc(#{$width}% - 1rem);
    }
  }
}

@include desktop-up {
  @each $width in $column-widths {
    .desktop-column-#{$width} {
      flex-basis: calc(#{$width}% - 1rem);
    }
  }
}

@media only screen and (min-width: #{$max-width + 2 * $content-margin}) {
  .container--width-constrained {
    margin-left: auto;
    margin-right: auto;
    width: $max-width;
  }
}
