%container--flex {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 calc(100% - 1rem);

    @include tablet-up {
      flex: 1;
      flex-wrap: nowrap;
    }
  }
}

.container {
  &--padded {
    padding: 0 1rem;
  }

  .container {
    margin-bottom: 0;
  }
}

// Default rows and columns with gutters
.row {
  @extend %container--flex;

  flex-direction: row;
  margin: 0 0 0 -1rem;

  @include tablet-up {
    margin: 0 0 0 -1rem;
  }

  > * {
    margin: 0 0 1rem 1rem;
  }
}

.column {
  @extend %container--flex;
  flex-direction: column;
  margin: -.5rem 0;

  > * {
    margin: .5rem 0;
  }

  &--fixed {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &--grow {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@include tablet-up {
  .tablet-column-25 {
    flex-basis: calc(25% - 1rem);
  }

  .tablet-column-33 {
    flex-basis: calc(33.333% - 1rem);
  }

  .tablet-column-50 {
    flex-basis: calc(50% - 1rem);
  }

  .tablet-column-66 {
    flex-basis: calc(66.666% - 1rem);
  }

  .tablet-column-100 {
    flex-basis: calc(100% - 1rem);
  }

  .tablet-column-25 {
    flex-basis: calc(25% - 1rem);
  }

  .tablet-column-33 {
    flex-basis: calc(33.333% - 1rem);
  }

  .tablet-column-50 {
    flex-basis: calc(50% - 1rem);
  }

  .tablet-column-66 {
    flex-basis: calc(66.666% - 1rem);
  }

  .tablet-column-100 {
    flex-basis: calc(100% - 1rem);
  }
}

@include desktop-up {
  .desktop-column-25 {
    flex-basis: calc(25% - 1rem);
  }

  .desktop-column-33 {
    flex-basis: calc(33.333% - 1rem);
  }

  .desktop-column-50 {
    flex-basis: calc(50% - 1rem);
  }

  .desktop-column-66 {
    flex-basis: calc(66.666% - 1rem);
  }

  .desktop-column-100 {
    flex-basis: calc(100% - 1rem);
  }

  .desktop-column-25 {
    flex-basis: calc(25% - 1rem);
  }

  .desktop-column-33 {
    flex-basis: calc(33.333% - 1rem);
  }

  .desktop-column-50 {
    flex-basis: calc(50% - 1rem);
  }

  .desktop-column-66 {
    flex-basis: calc(66.666% - 1rem);
  }

  .desktop-column-100 {
    flex-basis: calc(100% - 1rem);
  }
}

@media only screen and (min-width: #{$max-width + 2 * $content-margin}) {
  .container--width-constrained {
    margin-left: auto;
    margin-right: auto;
    width: $max-width;
  }
}
