body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &.admin-bar header {
    top: 32px;
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 76px; // Fixed position header offset
  padding: 1.5rem $content-margin 5rem;
}

// Horizontal Rules
$hr-color: $gray-light;

hr {
  background-color: $hr-color;
  border: 0;
  color: $hr-color;
  height: 1px;
  margin: 2.75rem 0;
  position: relative;
}

.divider {
  width: 100%;
}
