body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;

  &.admin-bar header {
    top: 32px;
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem; // Fixed position header offset
  margin-bottom: 3rem;
  width: 100%;
}

// Horizontal Rules
$hr-color: $gray-light;

hr {
  background-color: $hr-color;
  border: none;
  color: $hr-color;
  height: 1px;
  margin: 2.5rem 0;
}

img {
  height: auto;
  width: 100%;
}
