{% extends './_partials/base.html' %}

{% block content %}

<div class="about-us-header">
  <div class="about-us-header-text">
    <h1>Principled Research.</h1>
    <h1>Insightful Analysis.</h1>
    <h1>Engaged Experts.</h1>
  </div>
</div>

<div class="about-nav">
  <ul>
    <a href="/about-us.html" class="about-nav-first"><li>About</li></a>
    <a href="/impact.html"><li>Impact</li></a>
    <a href="/principles.html"><li>Principles</li></a>
    <a href="/staff.html"><li>Staff</li></a>
    <a href="/board.html"><li>Board</li></a>
    <a href="/financials.html"><li>Financials</li></a>
    <a href="/media.html"><li>Media</li></a>
    <a href="/careers.html"><li>Careers</li></a>
    <a href="/contact.html"><li>Contact</li></a>
  </ul>
</div>

    <div class="article">

      <h1>Our Story Title</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit nibh lacus, sed maximus elit posuere non. Sed vehicula ornare aliquet. Suspendisse lacinia elementum faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris molestie lacus sapien, vel maximus lorem luctus et.</p>

      <h2>First Section Title</h2>

      <p>Donec sed pellentesque augue, sed finibus tortor. Vivamus diam nisl, commodo sed tortor dignissim, consequat tincidunt nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque a ante ex. Curabitur lobortis, erat non ultrices condimentum, dui ante rhoncus dolor, ut euismod neque augue in lacus. Vestibulum porta enim porttitor leo luctus, nec dictum tellus vulputate.</p>

      <p class="pullquote-left" data-pullquote="Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc accumsan urna quis sollicitudin venenatis.">Aliquam varius posuere nisi, lacinia viverra urna viverra quis. Fusce dignissim dapibus ultricies. Ut gravida eleifend nisi ut elementum. Sed vel eros ut diam interdum tincidunt. Suspendisse porta mi quis tellus semper, ac posuere nunc vulputate. Cras et metus elit. Etiam quis tortor elit. Donec porttitor, nulla ac hendrerit aliquam, ante sem commodo odio, in mollis nulla quam nec mi. Nullam faucibus dolor ut auctor vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc accumsan urna quis sollicitudin venenatis. Quisque pretium tincidunt nisi, non tempus ex bibendum vel. Donec imperdiet mi sed finibus iaculis. Cras eu justo eu magna luctus fermentum et ac nisl. Proin commodo velit et molestie viverra.</p>

      <p>Phasellus vitae malesuada dui. Etiam facilisis aliquam augue nec malesuada. Etiam malesuada nulla quis nunc feugiat molestie. Nam fringilla, odio dictum gravida ultricies, ipsum dolor vestibulum lacus, ac porta orci turpis faucibus leo. Vestibulum tincidunt rhoncus lacus. In vitae viverra orci. Aliquam ac purus at odio ultrices commodo non sed dui.</p>

    </div>

    <div class="hero hero--blue">

      <h2>Catchy Donate Now Headline!</h2>
      <br>
      <p>A few convincing reasons for why you should support the Tax Foundation and its excellent mission. And one more awesome sentence for good measure.</p>
      <br>
      <button class="featured">Contribute Today!</button>

    </div>

    <div class="article">

        <h2>Second Section Title Number Two</h2>

        <p>Sed dapibus auctor quam ac facilisis. Praesent sit amet arcu turpis. Duis tristique varius elit, ut dignissim ante hendrerit eget. Ut iaculis vitae metus id blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec blandit vehicula efficitur. Vestibulum ultrices mi vitae ipsum sagittis, eu consectetur nibh imperdiet.</p>

        <p class="pullquote-right" data-pullquote="Donec ligula metus, mattis accumsan sapien et, porta sagittis massa. Nullam fringilla mauris et lacus laoreet blandit. Morbi ultricies id ex sed.">Donec sit amet posuere odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ligula metus, mattis accumsan sapien et, porta sagittis massa. Nullam fringilla mauris et lacus laoreet blandit. Morbi ultricies id ex sed tincidunt. Integer vel hendrerit lectus. Aliquam fermentum est sagittis tincidunt ornare.</p>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

        <h2>Section Title Number Three Goes Here</h2>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    </div>

  {% endblock %}
