{% extends './_partials/base.html' %}

{% block content %}

{% include './_partials/about-header.html' %}


    <div class="container container--padded row">
      <div class="tablet-column-80 desktop-column-40 column--fixed column--centered">
        <h1>Meet Our Board</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit nibh lacus, sed maximus elit poere non. Sed vehicula ornare aliquet. Suspendisse lacinia elementum faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
    </div>

    <br>

    <div class="container--width-constrained row">

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

    </div>

    <div class="container--width-constrained row">

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

    </div>
    <div class="container--width-constrained row">

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

    </div>

    <div class="container--width-constrained row">

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

        <div class="about-us__staff-member">
              <div class="about-us__staff-member__headshot" style="background-image:url('')"></div>
            <div class="about-us__staff-title">
                <p class="about-us__staff-title__name">Placeholder Name</p>
                <p class="about-us__staff-title__position">Placeholder Title</p>
                <p class="about-us__staff-title__organization">Placeholder Organization<p>
            </div>
        </div>

    </div>

    {% endblock %}
