{% extends './_partials/base.html' %}

{% block content %}

{% include './_partials/about-header.html' %}

  <div>

    <h1>Meet Our Board</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit nibh lacus, sed maximus elit poere non. Sed vehicula ornare aliquet. Suspendisse lacinia elementum faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    <br>

  </div>

  <div>

    <div class="container row cards">

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
                <p class="name">Placeholder Name</p>
                <p class="position">Placeholder Title</p>
                <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

        <div class="person">
              <div class="headshot" style="background-image:url('')"></div>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
              <p class="org">Placeholder Organization<p>
            </div>
        </div>

    </div>

    </div>

    {% endblock %}
