{% extends './_partials/base.html' %}

{% block content %}

    <div class="about-us-header">
      <div class="about-us-header-text">
        <h1>Principled Research.</h1>
        <h1>Insightful Analysis.</h1>
        <h1>Engaged Experts.</h1>
      </div>
    </div>

    <div class="about-nav">
      <ul>
        <a href="/about-us.html" class="about-nav-first"><li>About</li></a>
        <a href="/impact.html"><li>Impact</li></a>
        <a href="/principles.html"><li>Principles</li></a>
        <a href="/staff.html"><li>Staff</li></a>
        <a href="/board.html"><li>Board</li></a>
        <a href="/financials.html"><li>Financials</li></a>
        <a href="/media.html"><li>Media</li></a>
        <a href="/careers.html"><li>Careers</li></a>
        <a href="/contact.html"><li>Contact</li></a>
      </ul>
    </div>

    <div class="feature-text">
      <p>Join one of the most effective policy think tanks in the nation.</p>
      <p>Be part of a talented and dynamic team passionate about working with policymakers on both sides of the aisle to improve lives through smarter tax policy.</p>
      <a href="#openings"><button type="button" name="button" class="featured">View Openings</button></a>
    </div>

    <hr class="divider">

    <div class="medium">

        <h2>Who We Are</h2>
        <p>We’re a 78-year-old nonpartisan, non-profit think tank located steps away from the White House in Washington, DC. Our staff brings a balance of time-earned experience and youthful ambition to the table, and we regularly work with policymakers on both sides of the aisle to help fix problems in national and state tax codes.</p>
        <p>By focusing on effective policies instead of politics, we have curated a reputation as one of the most effective policy think tanks in the nation.</p>

        <h2>What We Do</h2>
        <p>Recently, we’ve analyzed the tax plans of every presidential candidate, bringing their proposals to the national spotlight and ensuring that the politicians and media are informed and honest.</p>
        <p> At the state level, we use our research to foster competition between the states and advise policymakers on how to improve their tax systems.</p>
        <p> In 2015, our work was cited in 22,193 news articles in 4,304 different publications, including all 100 of the largest national outlets and the papers of record in all fifty states. We produced 73 publications, including 11 books, posted 502 blog posts, and our website got a record 8.5 million views.</p>

        <h2>What We Offer</h2>
        <p>Lorem ipsum about how we care about our employees. Below might also include sections on the great location we have, our excellent office culture, and/or the great career advancement opportunities we bring to the table.</p>

        <div class="indent">
          <h3>Health Benefits</h3>
          <p>The Tax foundation offers HSA-based health coverage (we provide two-thirds of the premium and deposit the amount of the deductible into the HSA), dental and vision coverage, and life/AD&amp;D/LTD insurance.</p>
          <h3>Time Off</h3>
          <p>We understand that life is more than work. That's why we take off 12 holidays per year, offer 15 vacation days per year, offer sick leave, and encourage leaving the office early on Fridays.</p>
          <h3>401(k)</h3>
          <p>The Tax Foundation offers a generous 401(k) retirement plan. We match 100% on your first 3% of contributions and 50% on your next 2% of contributions.</p>
          <p><em>The Tax Foundation is an equal opportunity employer. EOE/M/F/D/V.</em></p>
        </div>

      </div>

        <a name="openings"></a>

        <hr class="divider">

      <div class="medium">

        <h2>Current Openings</h2>
        <br>
        <div class="link-list">
          <ul>
            <li>
              <a href="/job-listing.html">
                <h3>Manager of Strategic Giving</h3>
                <p>Development</p>
              </a>
            </li>
          </ul>
        </div>
        <p>We're looking for lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor est id odio rutrum, eget volutpat sem placerat. Vivamus sit amet velit ipsum. Vestibulum non neque non quam venenatis aliquam. Mauris placerat massa lorem, nec vestibulum sem scelerisque vel. <a href="/job-listing.html">Learn More</a></p>
        <br>
        <div class="link-list">
          <ul>
            <li>
              <a href="/job-listing.html">
                <h3>Job Title Number Two</h3>
                <p>Center for State Tax Policy</p>
              </a>
            </li>
          </ul>
        </div>
        <p>We're looking for auctor est id odio rutrum, eget volutpat sem placerat. Vivamus sit amet velit ipsum. Vestibulum non neque non quam venenatis aliquam. Mauris placerat massa lorem, nec vestibulum sem scelerisque vel. Vivamus sit amet velit ipsum. <a href="/job-listing.html">Learn More</a></p>
        <br>
        <div class="link-list">
          <ul>
            <li>
              <a href="/job-listing.html">
                <h3>Job Opening Number Three</h3>
                <p>Marketing Team</p>
              </a>
            </li>
          </ul>
        </div>
        <p>We're looking for lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor est id odio rutrum, eget volutpat sem placerat. Vivamus sit amet velit ipsum. Vestibulum non neque non quam venenatis aliquam. <a href="/job-listing.html">Learn More</a></p>

  </div>

  {% endblock %}
