<!DOCTYPE html>
<html>
  {% include './_partials/head.html' %}
  <body>
    <header>
      <div class="container row header-bar">
        <div class="header-logo">
          <a href="#"><img src="images/tf-logo-228x35.svg" alt="" /></a>
        </div>
        <nav class="header-menu">
          <ul id="nav-items">
            <li class="nav-top-level-item">
              <a class="nav-link">Research</a>
              <div class="nav-submenu">
                <div class="container row">
                  <ul>
                    <li><a href="#">Test 1</a></li>
                    <li><a href="#">Test 2</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link">Data</a>
              <div class="nav-submenu">
                <div class="container row">
                  <ul>
                    <li><a href="#">Test 3</a></li>
                    <li><a href="#">Test 4</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link">Blog</a>
              <div class="nav-submenu">
                <div class="container row">
                  <div>
                    <h4>Title</h4>
                    <ul>
                      <li><a href="#">Test 5</a></li>
                      <li><a href="#">Test 6</a></li>
                      <li>Text</li>
                    </ul>
                  </div>
                  <div>
                    <h4>Title</h4>
                    <ul>
                      <li><a href="#">Test 5</a></li>
                      <li><a href="#">Test 6</a></li>
                      <li>Text</li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link" href="\about-us.html">About</a>
              <div class="nav-submenu">
                <div class="container row">
                  <ul>
                    <li><a href="#">Test 1</a></li>
                    <li><a href="#">Test 2</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link">Search</a>
              <div class="nav-submenu">
                <div class="container row">
                  <input type="search">
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="header-menu-mobile-toggle">
          <a href="#">
            <img src="images/icons/hamburger.svg" alt="" />
          </a>
        </div>
      </div>
    </header>

    <main>

      <div class="category-header">
        <h1>Generic Category</h1>
          <p>
            This is a description of the category. Most categories should probably include descriptions that give the related links context. Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse. Sint pancetta magna commodo ball tip deserunt. Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.
          </p>
      </div>


    <hr class="divider">

    <div class="container">
      <h2>Content Cards</h2>
      <div class="container row cards">
        <div class="card tablet-column-33">
          <div class="image" style="background-image:url('/images/complexity.png')">
          </div>
          <div class="content">
            <h2>A Content Title Goes Here</h2>
            <p>
              This is the place for one of those brief content descriptions you hear about. Qui nulla rump capicola t-bone venison dolore.
            </p>
          </div>
        </div>
        <div class="card tablet-column-33">
          <div class="image" style="background-image:url('/images/jets.gif')">
          </div>
          <div class="content">
            <h2>Another Content Title Goes Right Here</h2>
            <p>
              Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.
            </p>
          </div>
        </div>
        <div class="card tablet-column-33">
          <div class="image" style="background-image:url('/images/wind.jpg')">
          </div>
          <div class="content">
            <h2>3rd Content Title</h2>
            <p>
              Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse.
            </p>
          </div>
        </div>
        <div class="card tablet-column-33">
          <div class="image" style="background-image:url('/images/capitol.png')">
          </div>
          <div class="content">
            <h2>Another Content Title That's A Little Bit Longer Goes Right Here</h2>
            <p>
              Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.
            </p>
          </div>
        </div>
        <div class="card tablet-column-33">
          <div class="image" style="background-image:url('/images/oregon.png')">
          </div>
          <div class="content">
            <h2>3rd Content Title</h2>
            <p>
              Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse.
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="divider">


        <ul class="links-list-big">
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
        </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick   Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Governor Jeb Bush’s TaxPlan</h3>
              <p> November 17, 2015</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
        </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick   Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Governor Jeb Bush’s TaxPlan</h3>
              <p> November 17, 2015</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Governor Jeb Bush’s TaxPlan</h3>
              <p> November 17, 2015</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
          </li>
        </ul>

        <ul class="pagination">
          <a class="disabled" href="#!"><img class="arrow" src="images\icons\arrow-left.svg" alt="left"></a>
          <li class="active"><a href="#!">1</a></li>
          <li><a href="#!">2</a></li>
          <li><a href="#!">3</a></li>
          <li><a href="#!">4</a></li>
          <li><a href="#!">5</a></li>
          <a href="#!"><img class="arrow" src="images\icons\arrow-right.svg" alt="left"></a>
        </ul>

    </main>

    <footer>

      <div class="container pre-footer">
        <h3>Help us achieve our vision of a world where the tax code doesn't stand in the way of success.</h3>
        <div class="pre-footer-buttons">
          <button type="button" name="button" class="inverted">Subscribe</button>
          <button type="button" name="button" class="featured">Contribute</button>
        </div>
      </div>

        <div class="footer-content container row">

          <div class="footer-about tablet-column-100 desktop-column-50">
            <h3><a href="#">About Us</a></h3>
            <p>
              The Tax Foundation is the nation’s leading independent tax policy research organization. Since 1937, our principled research, insightful analysis, and engaged experts have informed smarter tax policy at the federal, state, and local levels. We improve lives through tax policy research and education that leads to greater economic growth and opportunity.
            </p>
          </div>

          <div class="footer-links">
            <h3>More Links</h3>
            <ul>
              <li><a href="#">Donate</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Store</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>

          <div class="footer-connect">
            <h3>Connect</h3>
            <ul>
              <li><a href="https://twitter.com/taxfoundation">Twitter</a></li>
              <li><a href="https://www.facebook.com/taxfoundation">Facebook</a></li>
              <li><a href="http://www.linkedin.com/company/tax-foundation">LinkedIn</a></li>
              <li><a href="https://plus.google.com/+taxfoundation">Google+</a></li>
              <li><a href="http://www.youtube.com/user/TaxFoundation">YouTube</a></li>
            </ul>
          </div>

          <div class="footer-contact">
            <h3><a href="#">Contact</a></h3>
            <p>
              Tax Foundation<br>
              1325 G St NW<br>
              Suite 950<br>
              Washington, DC 20005<br>
            </p>
            <p>
              202-464-6200
            </p>
            <p>
              <a href="mailto:contact@taxfoundation.org">contact@taxfoundation.org</a>
            </p>
          </div>
        </div>

      <div class="container post-footer">
        <ul>
          <li>Copyright Tax Foundation 2016</li>
          <li><a href="">Copyright Notice</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Other Unimportant Link</a></li>
        </ul>
      </div>

    </footer>
  </body>
</html>
