{% extends './_partials/base.html' %}

{% block content %}

<div class="container container--padded row">
  <div class="tablet-column-10 desktop-column-30"></div>
  <div class="tablet-column-80 desktop-column-40">
    <h1 class="category-page__heading">Category Name</h1>
    <p>
      This is a description of the category. Most categories should probably include descriptions that give the related links context. Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse. Sint pancetta magna commodo ball tip deserunt. Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.
    </p>
  </div>
  <div class="tablet-column-10 desktop-column-30"></div>
</div>

<hr>

<div class="container container--padded container--width-constrained row cards">

  <div class="cards__card tablet-column-33 desktop-column-33 column--grow">
    <div class="cards__card-image" style="background-image:url('images/capitol.png')"></div>
    <div class="cards__card-content">
      <h2>A Content Title Goes Here</h2>
      <p>This is the place for one of those brief content descriptions you hear about. Qui nulla rump capicola t-bone venison dolore.</p>
    </div>
  </div>

  <div class="cards__card tablet-column-33 desktop-column-33 column--grow">
    <div class="cards__card-image" style="background-image:url('images/complexity.png')"></div>
    <div class="cards__card-content">
      <h2>Another Content Title Goes Right Here</h2>
      <p>Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.</p>
    </div>
  </div>

  <div class="cards__card tablet-column-33 desktop-column-33 column--grow">
    <div class="cards__card-image" style="background-image:url('images/kyle-head.png')"></div>
    <div class="cards__card-content">
      <h2>3rd Content Title</h2>
      <p>Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse.</p>
    </div>
  </div>

  <div class="cards__card tablet-column-33 desktop-column-33 column--grow">
    <div class="cards__card-image" style="background-image:url('images/oregon.png')"></div>
    <div class="cards__card-content">
      <h2>Another Content Title That's' a Little Bit Longer Goes Right Here</h2>
      <p>This is the place for one of those brief content descriptions you hear about. Qui nulla rump capicola t-bone venison dolore.</p>
    </div>
  </div>

  <div class="cards__card tablet-column-33 desktop-column-33 column--grow">
    <div class="cards__card-image" style="background-image:url('images/jets.gif')"></div>
    <div class="cards__card-content">
      <h2>A Content Title Goes Here</h2>
      <p>Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse.</p>
    </div>
  </div>

</div>

<hr>

<div class="container container--padded column--centered">
  <h2>More Articles</h2>
  {% include './_examples/link-list.html' %}
</div>

  {% include './_partials/pagination.html' %}


{% endblock %}
