{% extends './_partials/base.html' %}

{% block content %}

{% include './_partials/about-header.html' %}


<div class="container container--padded row">
    <div class="tablet-column-80 desktop-column-40 column--fixed column--centered">

        <h1>2015 By The Numbers</h1>
        <p>The Tax Foundation is an independent 501(c)(3) non-partisan, non-profit organization founded in 1937. We have no endowment and must raise our budget to support our programs each year. As a policy, we neither solicit nor receive financial support
            from any government entity.</p>
        <p>Our 2014 revenue ($3,675,132) consisted of support from philanthropic foundations (42%), corporate contributions (40%), donations from over 1,600 individuals (10%), and events revenue and miscellaneous (8%). No one donor contributed more than
            12 percent of our revenue.</p>
        <p>Our 2014 expenses ($2,971,778) consisted of $2.22 million (75%) spent on programs, $0.20 million (7%) on administrative costs, and $0.55 million (19%) on fundraising costs (in which we include donor outreach costs). Our 2015 budget is $4 million.
            <a href="/support.html">Support the Tax Foundation by clicking here!</a></p>

    </div>
</div>

<hr>

<div class="container container--padded container--width-constrained row">

  <div class="tablet-column-70 desktop-column-70">

    <h2>Annual Reports</h2>

      <div class="container row cards">

        <div class="card tablet-column-50 desktop-column-50 column--grow">
          <div class="image" style="background-image:url('images/AR2014.png')"></div>
          <div class="content">
            <h2>2016 Annual Report</h2>
            <p>This where a brief decription of the 2016 Annual Report would go.</p>
          </div>
        </div>

        <div class="card tablet-column-50 desktop-column-50 column--grow">
          <div class="image" style="background-image:url('images/AR2015.png')"></div>
          <div class="content">
            <h2>2015 Annual Report</h2>
            <p>This where a brief decription of the 2016 Annual Report would go.</p>
          </div>
        </div>

        <div class="card tablet-column-50 desktop-column-50 column--grow">
          <div class="image" style="background-image:url('images/AR2014.png')"></div>
          <div class="content">
            <h2>2014 Annual Report</h2>
            <p>This where a brief decription of the 2016 Annual Report would go.</p>
          </div>
        </div>

      </div>

  </div>

  <div class="tablet-column-30 desktop-column-30">
      <h2>Financial Documents</h2>
      <div class="link-list-box">
          <ul>
            <a href="#">
                <li>
                    <p>2016 Form 990</p>
                </li>
            </a>
            <a href="#">
                <li>
                    <p>2016 Financial Statement</p>
                </li>
            </a>
              <a href="#">
                  <li>
                      <p>2015 Form 990</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2015 Financial Statement</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2014 Form 990</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2014 Financial Statement</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2013 Form 990</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2013 Financial Statement</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2012 Form 990</p>
                  </li>
              </a>
              <a href="#">
                  <li>
                      <p>2012 Financial Statement</p>
                  </li>
              </a>
          </ul>
      </div>
  </div>

</div>

<div class="hero hero--white">
    <h3>We are one of the most trustworthy non-profits in Washington D.C.</h3>
    <img class="charity-logo charity-logo__cn" src="images/charity-nav.png">
    <img class="charity-logo charity-logo__gs" src="images/guidestar.png">
</div>

{% endblock %}
