{% extends './_partials/base.html' %}

{% block content %}

  <div class="container container--padded container--width-constrained">

    {% include './_examples/typography.html' %}

    <hr><!--List Styles -->
    {% include './_examples/lists.html' %}

    <hr><!-- Example Content -->
    {% include './_examples/post.html' %}

    <hr><!-- Tables -->
    {% include './_examples/tables.html' %}

    <hr><!-- Images -->
    {% include './_examples/images.html' %}

    <hr><!-- Icons -->
    <h2>Icons</h2>
    <p>Notice that the first row of icons are given hover effects using the <code>icon__hover</code> class. Similarly, the second row of icons are all larger because they have been given the <code>icon-large</code> class. The third row of icons has both classes applied.</p>
    <div class="container row">

      <svg class="icon icon__hover">
        <use xlink:href="#twitter" />
      </svg>

      <svg class="icon icon__hover">
        <use xlink:href="#facebook" />
      </svg>

      <svg class="icon icon__hover">
        <use xlink:href="#linkedin" />
      </svg>

      <svg class="icon icon__hover">
        <use xlink:href="#youtube" />
      </svg>

      <svg class="icon icon__hover">
        <use xlink:href="#google" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon icon__large">
        <use xlink:href="#pdf" />
      </svg>

      <svg class="icon icon__large">
        <use xlink:href="#share" />
      </svg>

      <svg class="icon icon__large">
        <use xlink:href="#download" />
      </svg>

      <svg class="icon icon__large">
        <use xlink:href="#presentation-1" />
      </svg>

      <svg class="icon icon__large">
        <use xlink:href="#presentation-2" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon icon__hover icon__large">
        <use xlink:href="#books" />
      </svg>

      <svg class="icon icon__hover icon__large">
        <use xlink:href="#calculator" />
      </svg>

      <svg class="icon icon__hover icon__large">
        <use xlink:href="#chart-1" />
      </svg>

      <svg class="icon icon__hover icon__large">
        <use xlink:href="#chart-2" />
      </svg>

      <svg class="icon icon__hover icon__large">
        <use xlink:href="#study" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#android" />
      </svg>

      <svg class="icon">
        <use xlink:href="#apple" />
      </svg>

      <svg class="icon">
        <use xlink:href="#book" />
      </svg>

      <svg class="icon">
        <use xlink:href="#report" />
      </svg>

      <svg class="icon">
        <use xlink:href="#glasses" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#csv" />
      </svg>

      <svg class="icon">
        <use xlink:href="#doc" />
      </svg>

      <svg class="icon">
        <use xlink:href="#xlsx" />
      </svg>

      <svg class="icon">
        <use xlink:href="#zip" />
      </svg>

      <svg class="icon">
        <use xlink:href="#folder" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#news" />
      </svg>

      <svg class="icon">
        <use xlink:href="#file" />
      </svg>

      <svg class="icon">
        <use xlink:href="#dropbox" />
      </svg>

      <svg class="icon">
        <use xlink:href="#rss" />
      </svg>

      <svg class="icon">
        <use xlink:href="#print" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#font" />
      </svg>

      <svg class="icon">
        <use xlink:href="#quote" />
      </svg>

      <svg class="icon">
        <use xlink:href="#calendar" />
      </svg>

      <svg class="icon">
        <use xlink:href="#check-1" />
      </svg>

      <svg class="icon">
        <use xlink:href="#check-2" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#plus" />
      </svg>

      <svg class="icon">
        <use xlink:href="#x-1" />
      </svg>

      <svg class="icon">
        <use xlink:href="#x-2" />
      </svg>

      <svg class="icon">
        <use xlink:href="#mail" />
      </svg>

      <svg class="icon">
        <use xlink:href="#link" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#send" />
      </svg>

      <svg class="icon">
        <use xlink:href="#person" />
      </svg>

      <svg class="icon">
        <use xlink:href="#contacts" />
      </svg>

      <svg class="icon">
        <use xlink:href="#people" />
      </svg>

    </div>

    <br><br><br>

    <div class="container row">

      <svg class="icon">
        <use xlink:href="#search" />
      </svg>

      <svg class="icon">
        <use xlink:href="#hamburger" />
      </svg>

      <svg class="icon">
        <use xlink:href="#filter" />
      </svg>

    </div>

    <hr><!-- Forms -->
    {% include './_examples/forms.html' %}

    <hr><!-- Containers -->
    {% include './_examples/boxes.html' %}

    <hr><!-- Widgets-->
    {% include './_examples/widgets.html' %}

    <hr><!-- Content Cards -->
  </div>

  <div class="container container--padded">
    {% include './_examples/cards.html' %}
  </div>

  <div class="container container--padded container--width-constrained">
    <hr>
    {% include './_examples/grid-layout.html' %}
  </div>
{% endblock %}
