{% extends './_partials/base.html' %}

{% block content %}
  <div class="container container--padded container--width-constrained">

    {% include './_examples/typography.html' %}

    <hr><!--List Styles -->
    {% include './_examples/lists.html' %}

    <hr><!-- Example Content -->
    {% include './_examples/post.html' %}

    <hr><!-- Tables -->
    {% include './_examples/tables.html' %}

    <hr><!-- Images -->
    {% include './_examples/images.html' %}

    <hr><!-- Forms -->
    {% include './_examples/forms.html' %}

    <hr><!-- Containers -->
    {% include './_examples/boxes.html' %}

    <hr><!-- Widgets-->
    {% include './_examples/widgets.html' %}

    <hr><!-- Content Cards -->
  </div>

  <div class="container container--padded">
    {% include './_examples/cards.html' %}
  </div>

  <div class="container container--padded container--width-constrained">
    <hr>
    {% include './_examples/grid-layout.html' %}
  </div>
{% endblock %}
