{% extends './_partials/base.html' %}

{% block content %}

<div class="about-us__hero">
  <div background-image: url class="about-us__headings">
    <p class="about-us__heading">Principled Research.</p>
    <p class="about-us__heading">Insightful Analysis.</p>
    <p class="about-us__heading">Engaged Experts.</p>
  </div>
</div>

<nav class="about-us__navbar">
  <ul>
    <a href="/about-us.html" class="about-nav-first"><li>About</li></a>
    <a href="/impact.html"><li>Impact</li></a>
    <a href="/principles.html"><li>Principles</li></a>
    <a href="/staff.html"><li>Staff</li></a>
    <a href="/board.html"><li>Board</li></a>
    <a href="/financials.html"><li>Financials</li></a>
    <a href="/media.html"><li>Media</li></a>
    <a href="/careers.html"><li>Careers</li></a>
    <a href="/contact.html"><li>Contact</li></a>
  </ul>
</nav>


<div class="medium">
  <a href="/careers.html">&larr; Back to All Openings</a>
  <br>
  <h1>Manager of Strategic Giving</h1>
  <p>Brief position outline lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at quam congue, iaculis magna vel, fringilla enim. Phasellus non ullamcorper sapien. Sed varius erat aliquet ultricies condimentum. Nunc sed imperdiet leo, in volutpat justo.</p>
  <div class="indent">
    <h2>Duties and Responsibilities</h2>
    <ul>
      <li>Provide general support to the Vice President of Individual and Foundation Giving.</li>
      <li>Engage in identifying, cultivating and soliciting gifts from donors identified with a propensity and capacity to make four and five-figure gifts.</li>
      <li>Develop strategies for upgrading donors and increasing donor retention.</li>
      <li>Engage in donor research in order to identify high net worth donors and prospects. Record all information in donor profile.</li>
      <li>Generate and distribute personal donor letters, handwritten notes, and emails on a regular basis in order to thank donors for gifts and arrange for personal visits.</li>
      <li>Manage the various donor recognition programs to ensure the programs are sound, are being promoted, and donor benefits and inquiries are being fulfilled.</li>
      <li>Work proactively and collaboratively with all Tax Foundation staff members and assist in scheduling visits with donors for staff while they are traveling.</li>
      <li>Generate Salesforce reports on an as-needed bases to support various development needs.</li>
      <li>Participate in regular donor strategy discussions and meetings.</li>
      <li>Assist with planning of donor-centered events including.</li>
      <li>Document all contact with donors and prospects to ensure positive and purposeful donor relations.</li>
      <li>erform other duties as assigned. This position reports to the VP of Individual and Foundation Giving. </li>
    </ul>
    <h2>Qualifications and Requirements </h2>
    <ul>
      <li>Passionate about the Tax Foundation, tax policy and economic growth.</li>
      <li>Bachelor’s Degree and a minimum of 3 years’ experience in fundraising or public policy, ideally in non-partisan, policy oriented, 501(c)(3) organizations.</li>
      <li>Understand and embrace a “moves-management” approach to major gift fundraising.
Demonstrated record of exceeding goals.</li>
      <li>Working knowledge of Salesforce or similar CRM database.</li>
      <li>Organized, self-motivated, creative, and able to work independently.</li>
      <li>Excellent interpersonal and communication skills, both verbal and written.</li>
      <li>Must be comfortable making cold calls and hand-writing letters.</li>
      <li>Adhere to the highest ethical standards, demonstrate empathetic disposition, and perseverance.</li>
      <li>Project an optimistic and positive attitude and convey sensitivity to needs of the donors.</li>
      <li>Able and willing to travel.</li>
      <li>Have a valid driver’s license and able to drive long distances for several hours at a time.</li>
      <li>This position is based in Washington DC.</li>
    </ul>
  </div>
  <h2>Benefits</h2>
  <p>Salary is commensurate with experience. Benefits include HSA-based health coverage (TF provides two-thirds of the premium and deposits the amount of the deductible into the HSA), dental and vision coverage, life/AD&D/LTD insurance, 12 holidays per year, 15 vacation days per year, sick leave, early release on Fridays, and a generous 401(k) retirement plan (100% match on first 3%; 50% match on next 2%).</p>
  <h2>Applying</h2>
  <p>Submit cover letter and resume to Mr. Joseph Henchman, VP Operations, Tax Foundation, at <a href="mailto:henchman@taxfoundation.org">henchman@taxfoundation.org.</a> The cover letter should demonstrate informed interest in our organization. The position is open until filled. The Tax Foundation is an equal opportunity employer. EOE/M/F/D/V</p>

</div>

{% endblock %}
