{% extends './_partials/base.html' %}

{% block content %}

{% include './_partials/about-header.html' %}


  <div class="about-us__feature-text">
    <p>The Tax Foundation is the nation’s leading independent tax policy research organization. Since 1937, our principled research, insightful analysis, and engaged experts have informed smarter tax policy at the federal, state, and local levels.</p>
  </div>

  <hr>

  <div class="container container--padded container--width-constrained row">

    <div class="tablet-column-70 desktop-column-70"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mauris massa, tincidunt in nisl pellentesque, pellentesque sodales sem. Phasellus ultricies tortor at massa laoreet, vitae vulputate augue rutrum. Fusce faucibus semper tincidunt. Quisque id imperdiet ipsum. Suspendisse nisl ante, elementum vel leo at, condimentum faucibus purus. Suspendisse pellentesque, ligula vehicula vulputate venenatis, ante nisl pretium ante, at pretium eros magna eu eros. Aliquam non mi mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper tempor nibh, vitae fringilla orci interdum quis. Duis erat lectus, lobortis vel fermentum semper, luctus ac lacus.</p></div>
    <div class="tablet-column-30 desktop-column-30"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mauris massa, tincidunt in nisl pellentesque, pellentesque sodales sem. Phasellus ultricies tortor at massa laoreet, vitae vulputate augue rutrum. Fusce faucibus semper tincidunt. Quisque id imperdiet ipsum. Suspendisse nisl ante, elementum vel leo at, condimentum faucibus purus. Suspendisse pellentesque, ligula vehicula vulputate venenatis, ante nisl pretium ante, at pretium eros magna eu eros. Aliquam non mi mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper tempor nibh, vitae fringilla orci interdum quis. Duis erat lectus, lobortis vel fermentum semper, luctus ac lacus.</p></div>

  </div>

  <hr>

  <h2 class="center">Featured Media</h2>

  <div class="about-us__media-coverage container container--padded container--width-constrained row cards">

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

  </div>

  <div class="about-us__media-coverage container container--padded container--width-constrained row cards">

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

  </div>

  <div class="about-us__media-coverage container container--padded container--width-constrained row cards">

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

    <div href="#" class="card">
      <div class="content">
        <h2>Wall Street Journal</h2>
        <p>"Pabst yr freegan iPhone. VHS gastropub single-origin coffee, seitan biodiesel austin offal. Kitsch man braid selfies vinyl freegan lo-fi iPhone, authentic ennui keytar banh mi cronut yr. Food truck scenester church-key paleo fanny pack. Disrupt cred dreamcatcher slow-carb DIY cronut."</p>
      </div>
    </div>

  </div>

  {% endblock %}
