{% extends './_partials/base.html' %}

{% block content %}

<div class="container container--padded">

        <h1>Press Releases</h1>

        <ul class="links-list-big">
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick   Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick   Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
        </ul>

        <ul class="pagination">
          <a class="disabled" href="#!"><img class="arrow" src="images\icons\arrow-left.svg" alt="left"></a>
          <li class="active"><a href="#!">1</a></li>
          <li><a href="#!">2</a></li>
          <li><a href="#!">3</a></li>
          <li><a href="#!">4</a></li>
          <li><a href="#!">5</a></li>
          <a href="#!"><img class="arrow" src="images\icons\arrow-right.svg" alt="left"></a>
        </ul>

</div>

{% endblock %}
