{% extends './_partials/base.html' %}

{% block content %}

{% include './_partials/about-header.html' %}

  <div class="principles container row">
    <div class="tablet-column-70 desktop-column-50 column--fixed column--centered">

      <h1>Principles of Sound Tax Policy</h1>

      <p>As a nonpartisan, educational organization, the Tax Foundation has earned a reputation for independence and credibility. All Tax Foundation research is guided by the principles of sound tax policy, which should serve as touchstones for policymakers and taxpayers everywhere.</p>

      <div class="indent">
        <h2>Simplicity</h2>
        <p>Tax codes should be easy for taxpayers to comply with and for governments to administer and enforce.</p>

        <h2>Transparency</h2>
        <p>Tax policies should clearly and plainly define what taxpayers must pay and when they must pay it. Disguising tax burdens in complex structures should be avoided. Additionally, any changes to the tax code should be made with careful consideration, input, and open hearings.</p>

        <h2>Neutrality</h2>
        <p>Taxes should neither encourage nor discourage personal or business decisions. The purpose of taxes is to raise needed revenue, not to favor or punish specific industries, activities, and products. Minimizing tax preferences broadens the tax base, so that the government can raise sufficient revenue with lower rates.</p>

        <h2>Stability</h2>
        <p>Taxpayers deserve consistency and predictability in the tax code. Governments should avoid enacting temporary tax laws, including tax holidays, amnesties, and retroactive changes.</p>
      </div>

    </div>
  </div>

  {% endblock %}
