{% extends './_partials/base.html' %}

{% block content %}

<div class="about-us__hero">
  <div background-image: url class="about-us__headings">
    <p class="about-us__heading">Principled Research.</p>
    <p class="about-us__heading">Insightful Analysis.</p>
    <p class="about-us__heading">Engaged Experts.</p>
  </div>
</div>

<nav class="about-us__navbar">
  <ul>
    <a href="/about-us.html" class="about-nav-first"><li>About</li></a>
    <a href="/impact.html"><li>Impact</li></a>
    <a href="/principles.html"><li>Principles</li></a>
    <a href="/staff.html"><li>Staff</li></a>
    <a href="/board.html"><li>Board</li></a>
    <a href="/financials.html"><li>Financials</li></a>
    <a href="/media.html"><li>Media</li></a>
    <a href="/careers.html"><li>Careers</li></a>
    <a href="/contact.html"><li>Contact</li></a>
  </ul>
</nav>


    <div class="medium">

      <h1>Meet Our Team</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam  hendrerit nibh lacus, sed maximus elit posuere non. Sed vehicula  ornare aliquet. Suspend lacinia elementum faucibus. Class aptent  taciti sociosqu ad litora torquent per conubia nostra, per inceptos   himenaeos.</p>

      <br>

    </div>

    <div class="wide">

    <div class="container row cards">

        <div class="person">
          <a href="/staff-member.html">
            <div class="headshot" style="background-image:url('')"></div>
          </a>
          <div class="title">
            <p class="name">Placeholder Name</p>
            <p class="position">Placeholder Title</p>
          </div>
          <div class="social">
            <a href=""><img class="twitter"></a>
            <a href=""><img class="linkedin"></a>
          </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
                <p class="name">Placeholder Name</p>
                <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
                </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
                <p class="name">Placeholder Name</p>
                <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
                <p class="name">Placeholder Name</p>
                <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

    </div>

    <div class="container row cards">

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
                <p class="name">Placeholder Name</p>
                <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="twitter"></a>
            </div>
        </div>

        <div class="person">
              <a href="/staff-member.html">
                <div class="headshot" style="background-image:url('')"></div>
              </a>
            <div class="title">
              <p class="name">Placeholder Name</p>
              <p class="position">Placeholder Title</p>
            </div>
            <div class="social">
                <a href=""><img class="linkedin"></a>
            </div>
        </div>

    </div>

  </div>

  {% endblock %}
