<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tax Foundation Style Guide</title>
    <link rel="stylesheet" href="css/style.css" title="no title" charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/x-icon" href="images/favicons/favicon.ico" />
    <link rel="manifest" href="images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#0094ff">
    <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#0094ff">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <header>
      <div class="container row header-bar">
        <div class="header-logo">
          <a href="#"><img src="images/tf-logo-228x35.svg" alt="" /></a>
        </div>
        <nav class="header-menu">
          <ul id="nav-items">
            <li class="nav-top-level-item">
              <a class="nav-link">Research</a>
              <div class="nav-submenu">
                <div class="container row">
                  <ul>
                    <li><a href="#">Test 1</a></li>
                    <li><a href="#">Test 2</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link">Data</a>
              <div class="nav-submenu">
                <div class="container row">
                  <ul>
                    <li><a href="#">Test 3</a></li>
                    <li><a href="#">Test 4</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link">Blog</a>
              <div class="nav-submenu">
                <div class="container row">
                  <div>
                    <h4>Title</h4>
                    <ul>
                      <li><a href="#">Test 5</a></li>
                      <li><a href="#">Test 6</a></li>
                      <li>Text</li>
                    </ul>
                  </div>
                  <div>
                    <h4>Title</h4>
                    <ul>
                      <li><a href="#">Test 5</a></li>
                      <li><a href="#">Test 6</a></li>
                      <li>Text</li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link" href="\about-us.html">About</a>
              <div class="nav-submenu">
                <div class="container row">
                  <ul>
                    <li><a href="#">Test 1</a></li>
                    <li><a href="#">Test 2</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-top-level-item">
              <a class="nav-link">Search</a>
              <div class="nav-submenu">
                <div class="container row">
                  <input type="search">
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div class="header-menu-mobile-toggle">
          <a href="#">
            <img src="images/icons/hamburger.svg" alt="" />
          </a>
        </div>
      </div>
    </header>
    <main>

        <h1>Generic Tag</h1>

        <ul class="category-links">
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
        </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick   Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Governor Jeb Bush’s TaxPlan</h3>
              <p> November 17, 2015</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
        </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick   Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Governor Jeb Bush’s TaxPlan</h3>
              <p> November 17, 2015</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Dr. Ben Carson’s Tax Plan</h3>
              <p>January 21, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Ted Cruz’s Tax Plan</h3>
              <p>January 14, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Senator Rick Santorum’s TaxPlan</h3>
              <p>January 06, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Details and Analysis of Governor Jeb Bush’s TaxPlan</h3>
              <p> November 17, 2015</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy</h3>
              <p>May 16, 2016</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h3>Cost Recovery for New Corporate Investments  in 2012</h3>
              <p>February 01, 2016</p>
            </a>
          </li>
        </ul>

        <ul class="pagination">
          <a class="disabled" href="#!"><img class="arrow" src="images\icons\arrow-left.svg" alt="left"></a>
          <li class="active"><a href="#!">1</a></li>
          <li><a href="#!">2</a></li>
          <li><a href="#!">3</a></li>
          <li><a href="#!">4</a></li>
          <li><a href="#!">5</a></li>
          <a href="#!"><img class="arrow" src="images\icons\arrow-right.svg" alt="left"></a>
        </ul>

    </main>
    <footer>

      <div class="container pre-footer">
        <h3>Help us achieve our vision of a world where the tax code doesn't stand in the way of success.</h3>
        <div class="pre-footer-buttons">
          <button type="button" name="button" class="inverted">Subscribe</button>
          <button type="button" name="button" class="featured">Contribute</button>
        </div>
      </div>

        <div class="footer-content container row">

          <div class="footer-about tablet-column-100 desktop-column-50">
            <h3><a href="#">About Us</a></h3>
            <p>
              The Tax Foundation is the nation’s leading independent tax policy research organization. Since 1937, our principled research, insightful analysis, and engaged experts have informed smarter tax policy at the federal, state, and local levels. We improve lives through tax policy research and education that leads to greater economic growth and opportunity.
            </p>
          </div>

          <div class="footer-links">
            <h3>More Links</h3>
            <ul>
              <li><a href="#">Donate</a></li>
              <li><a href="#">Press Room</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Store</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>

          <div class="footer-connect">
            <h3>Connect</h3>
            <ul>
              <li><a href="https://twitter.com/taxfoundation">Twitter</a></li>
              <li><a href="https://www.facebook.com/taxfoundation">Facebook</a></li>
              <li><a href="http://www.linkedin.com/company/tax-foundation">LinkedIn</a></li>
              <li><a href="https://plus.google.com/+taxfoundation">Google+</a></li>
              <li><a href="http://www.youtube.com/user/TaxFoundation">YouTube</a></li>
            </ul>
          </div>

          <div class="footer-contact">
            <h3><a href="#">Contact</a></h3>
            <p>
              Tax Foundation<br>
              1325 G St NW<br>
              Suite 950<br>
              Washington, DC 20005<br>
            </p>
            <p>
              202-464-6200
            </p>
            <p>
              <a href="mailto:contact@taxfoundation.org">contact@taxfoundation.org</a>
            </p>
          </div>
        </div>

      <div class="container post-footer">
        <ul>
          <li>Copyright Tax Foundation 2016</li>
          <li><a href="">Copyright Notice</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Other Unimportant Link</a></li>
        </ul>
      </div>

    </footer>
  </body>
</html>
