$about-nav-li-hover-bg: $tf-blue-lighter;

.about-us {

  &__hero {
    background: $tf-blue;
    background-image: url('../images/collage.png');
    height: 18rem;
    margin: -1rem 0 0;
    padding: 0;
    position: relative;

    @include mobile-only {
      height: 12rem;
    }
  }

  &__headings {
    bottom: 0;
    color: $background-color;
    height: 60%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__heading {
    font-size: 3rem;
    line-height: 2.5rem;
    text-align: center;

    @include mobile-only {
      font-size: 2rem;
      line-height: 1.75rem;
    }
  }
}

.about-us__navbar {
  margin: 0 auto 2.5rem;

  @include mobile-only {
    display: table;
    width: 100%;
  }

  ul {
    margin: 0;
  }

  a {
    background-color: $background-color;
    border-bottom: 1.5px solid $gray-light;
    border-right: .5px solid $gray-light;
    color: $gray-medium;
    display: block;
    float: left;
    font-size: .9rem;
    line-height: 2rem;
    list-style: none;
    padding: 0 .75rem;
    text-align: center;
    text-decoration: none;
    transition-duration: .2s;
    transition-property: background-color, color;
    transition-timing-function: ease-out;

    @include desktop-up {
      font-size: 1rem;
      line-height: 2.5rem;
      padding: 0 1.5rem;
    }

    @include mobile-only {
      border: 0;
      border-bottom: 1.5px solid $gray-light;
      display: table-cell;
      font-size: 1rem;
      line-height: 2.75rem;
      margin: 0 auto;
      width: 100%;
    }

    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-left: 1.5px solid $gray-light;

      @include mobile-only {
        border-left: 0;
      }
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
    }

    &:hover,
    &:active {
      background-color: $about-nav-li-hover-bg;

      @include tablet-up {
        background: linear-gradient(to top, $tf-blue, $tf-blue 3px, $background-color 2px, $background-color);
        cursor: pointer;
      }
      }

    li {
      color: $gray-medium;
      transition-duration: .1s;
      transition-property: color;
      transition-timing-function: ease-out;
    }
  }
}

.about-us__contact-form {
  textarea {
    height: 100%;
  }

  button {
    width: 100%;
  }
}


.about-us__connect {
  padding-left: 2.5rem;

  @include mobile-only {
    padding-left: 0;
  }
}

.about-us__contact-info {
  padding-left: 2.5rem;

  @include mobile-only {
    padding-left: 0;
  }

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.about-us__feature-text {
  margin: 0 auto;
  text-align: center;
  width: 800px;

  @include mobile-only {
    width: 90%;
  }

  p {
    font-size: 1.2rem;
  }
}

.about-us__staff-member {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  width: 18rem;

  &__headshot {
    background: $gray-light;
    background-position: center;
    background-size: cover;
    border-radius: 1000rem;
    display: block;
    flex: 1 0 auto;
    height: 13rem;
    margin: 0 auto;
    max-height: 13rem;
    max-width: 13rem;
    padding: 0;
    position: relative;
    width: 13rem;
  }
}

.about-us__staff-feature {
  border: 0;
  width: 18rem;

  &__headshot {
    background: $gray-light;
    background-position: center;
    background-size: cover;
    border-radius: 1000rem;
    display: block;
    flex: 1 0 auto;
    height: 17rem;
    margin: 0 2rem 0 0;
    max-height: 17rem;
    max-width: 17rem;
    padding-right: 2rem;
    position: relative;
    width: 17rem;

    @include tablet-only {
      height: 13rem;
      max-height: 13rem;
      max-width: 13rem;
      width: 13rem;
    }
  }
}


.about-us__staff-title {
  flex: 0 0 auto;
  padding: 1em 1em 0;
  text-align: center;

  &__name {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 auto .25rem;
  }

  &__position {
    color: $gray-medium;
    font-size: 1rem;
    font-style: italic;
    margin: 0;
  }

  &__organization {
    color: $gray-medium;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
  }
}

.about-us__social {
  margin: 0 auto;

  img {
    margin: .5rem;
  }
}


.about-us__media-contact {

  @include desktop-up {
    margin-left: 2rem;
  }

  fieldset {
    margin-top: 1rem;
  }

  p {
    margin-bottom: .75rem;
  }

  ul {
    list-style: none;
    margin: 0;
  }
}

.about-us__media-coverage {
  margin: 2.5rem 1rem 0;

  h2 {
    text-align: center;
  }
}

.charity-logo {
  margin: 1rem .5rem 0;
  height: 100%;
  transition-duration: .2s;
  transition-property: opacity;
  transition-timing-function: ease-in ease-out;

  &__cn {
    width: 250px;
  }

  &__gs {
    width: 320px;
  }

  &:hover {
    opacity: .8;
  }

}
