$twitter: #00aced;
$facebook: #3b5998;
$google: #dd4b39;
$linkedin: #007bb6;
$youtube: #bb0000;

.icon {
  display: inline-block;
  height: 25px;
  margin: .5rem;
  width: 25px;
  transition: all .25s ease-out;
  vertical-align: middle;

  &:hover {
    opacity: .80;
  }

  &__twitter {
    fill: $twitter;
  }

  &__facebook {
    fill: $facebook;
  }

  &__linkedin {
    fill: $linkedin;
  }

  &__youtube {
    fill: $youtube;
  }

  &__google {
    fill: $google;
  }
}

.icon-large {
  display: inline-block;
  height: 50px;
  width: 50px;
}
