$link-color: $tf-blue;

a {
  background: none;
  color: $link-color;
  hyphens: auto;
  overflow-wrap: break-word;
  text-decoration: none;
  word-break: break-all;
  word-wrap: break-word;

  &:hover,
  &:active {
    color: $link-color;
    cursor: pointer;
    text-decoration: underline;
  }
}
