$categories-text-color: #aaa;

ol,
ul {
  @include font-sizes();
  @include line-heights();
  list-style-position: outside;
  margin: 0 0 $paragraph-line-height-mobile 1rem;

  @include tablet-only {
    margin-bottom: $paragraph-line-height-tablet;
  }

  @include desktop-up {
    margin-bottom: $paragraph-line-height-desktop;
  }
}

ol {
  list-style-type: decimal; //First, numbers

  li {
    padding-left: .3rem;
  }

  ol {
    list-style-type: lower-alpha; //Then, letters

    ol {
      list-style-type: lower-roman; //Finally, numerals
    }
  }
}

ul {
  list-style-type: disc; //First, bullet

  ul {
    list-style-type: circle; //Then, empty bullet
  }
}

.links-list-big {

  a {
    color: $text-default-color;
    text-decoration: none;

    h3 {
      margin: 0;
      transition-duration: .25s;
      transition-property: color;
      transition-timing-function: ease-out ease-in;

      &:active,
      &:focus,
      &:hover {
        color: $tf-blue;
        text-decoration: none;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;

    &:first-child {
      padding-top: 0;
    }
  }

  li {
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 2.25rem;

    p {
      color: $categories-text-color;
      margin-top: .5rem;
    }
  }
}
