.mobile-nav {
  background: transparent;
  bottom: 100%;
  left: 0;
  position: fixed;
  right: 0;
  overflow-y: hidden;
  top: -100%;
  transition: bottom .3s ease-in-out .1s, background-color .1s ease-in-out;
  z-index: 2;

  &--active {
    background-color: rgba($gray-light, .7);
    bottom: 0;
    top: $header-height;
  }

  &__items {
    background-color: $gray-lighter;
    box-shadow: 0 0 5px $gray-darker;
    left: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__search {
    padding: 1rem;
  }

  &__top-level-item,
  &__search {
    border-bottom: solid 1px $gray-light;
  }

  &__top-level-link {
    color: $text-default-color;
    display: block;
    font-size: 1.4rem;
    padding: 1rem;

    &:hover {
      color: $text-default-color;
    }
  }
}

@include desktop-up {
  .mobile-nav {
    display: none;
  }
}
