$navbar-height: $header-height;
$navbar-background: $tf-blue;
$navbar-color: #fff;

%header-bar-link-styles {
  background: none;
  color: $navbar-color;
  text-decoration: none;
  text-shadow: none;
}

.navbar {
  align-items: stretch;
  background-color: $navbar-background;
  box-shadow: 0 0 3px $gray-darker;
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 1.5rem;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h3 {
    color: $tf-blue;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .3rem;
    text-transform: uppercase;
    transition-duration: .2s;
    transition-property: color;
    transition-timing-function: ease-out ease-in;

    &:hover, {
      color: lighten($tf-blue, 15%);
    }
  }

  @media print {
    display: none;
  }

  &__bar {
    align-items: stretch;
    color: $navbar-color;
    display: flex;
    flex-wrap: nowrap;
    font-family: $font-sans-serif;
    font-size: 1rem;
    height: $navbar-height;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;

    * {
      margin: 0;
      padding: 0;
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    flex: none;

    @include desktop-up {
      margin-left: -2rem;
      padding-left: 2rem;
  }

  @include mobile-only {
      margin-left: 2rem;
  }

    a,
    a:hover {
      @extend %header-bar-link-styles;
    }
  }

  &__menu-mobile-toggle {
    align-content: stretch;
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: $content-margin;

    img {
      height: $header-height / 3;
      width: $header-height / 3;
    }
  }

  &__menu {
    align-content: stretch;
    display: none;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }

  &__menu-items {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    list-style: none;
  }

  &__menu-top-level-item {
    display: flex;
    flex: none;
    flex-direction: column;
    position: relative;

    &:hover .navbar__submenu {
      display: flex;
      height: auto;
      opacity: 1;
      z-index: 100;
    }

    &:hover .navbar__submenu-section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 0 auto;
    }
  }

  &__menu-top-level-link {
    @extend %header-bar-link-styles;
    flex: 1;
    font-size: .8rem;
    font-weight: 700;
    padding: ($navbar-height / 4) ($content-margin / 5) 0;
    text-transform: uppercase;

    @include desktop-up {
      font-size: .85rem;
      padding: ($navbar-height / 4) ($content-margin / 2.25) 0;
    }

    &:hover {
      @extend %header-bar-link-styles;
      @include hover-transition(.1s);

      background-color: lighten($tf-blue, 15%);
      cursor: pointer;
    }
  }

  &__submenu {
    background: $navbar-color;
    border-bottom: 5px solid $navbar-background;
    color: $text-default-color;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: fixed;
    right: 0;
    text-align: left;
    transition: opacity .3s linear;
    padding: 2.5rem;


    p {
      color: $tf-blue;
      font-weight: bold;
      padding-bottom: .4rem;
      text-transform: uppercase;
    }

    a {
      color: $text-default-color;
      font-size: 1rem;
      text-decoration: none;
      transition-duration: .2s;
      transition-property: color;
      transition-timing-function: ease-out ease-in;

      &:hover, {
        color: $tf-blue;
      }
    }

    li {
      list-style: none;
    }
  }

  &__submenu-columns {
    margin: auto;
    display: flex;
  }

  &__submenu-section {
    display: none;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: $max-width;

    input {
      color: $text-default-color;
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}

@include tablet-up {
  .navbar {
    &__menu {
      display: flex;
    }

    &__bar {
      padding-left: $content-margin;
    }

    &__menu-mobile-toggle {
      display: none;
    }
  }
}

.donate {
  background: $green;
  transition-duration: .2s;
  transition-property: background;
  transition-timing-function: ease-out ease-in;

  &:hover, {
    background: lighten($green, 5%);
  }
}
