.pagination {
  margin: 1rem auto;
  text-align: center;

  .current {
    background-color: $tf-blue;
    border-radius: $border-radius;
    display: inline-block;
    font-size: 1rem;
    margin: 0 .25rem;
    padding: 0 .5rem;
    text-align: center;

    a {
      color: $background-color;
      text-decoration: none;

      &:hover {
        cursor: default;
      }
    }
  }

  .page {
    border-radius: $border-radius;
    display: inline-block;
    font-size: 1rem;
    margin: 0 .25rem;
    padding: 0 .5rem;
    text-align: center;
    transition: all .1s ease-out;

    a {
      color: $text-default-color;
      text-decoration: none;
    }

    &:hover {
      background-color: $tf-blue-lighter;
    }
  }

  .prev,
  .next {
    text-decoration: none;
  }

  .disabled {
    cursor: default;
  }
}
