.pagination {
  margin: 1rem auto 0;
  text-align: center;

  li {
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}

.active {
  background-color: $tf-blue;
  color: $background-color;
  text-decoration: none;

  a {
    color: $background-color;
  }
}

.arrow {
  height: 1rem;
  margin: 0 1rem;
  padding-top: .25rem;
}

.disabled {
  opacity: .5;
}
