p,
.paragraph-text {
  @include font-sizes();
  @include line-heights();
  font-family: $font-sans-serif;
  margin-bottom: $paragraph-line-height-mobile;

  @include tablet-only {
    margin-bottom: $paragraph-line-height-tablet;
  }

  @include desktop-up {
    margin-bottom: $paragraph-line-height-desktop;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.center {
  text-align: center;
}

.indent {
  margin: 0 3rem;
}
