.widget {
  border-radius: $border-radius;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 0 3rem 3rem 0;
  padding: 1rem;
  width: 18rem;

  p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  div {
    margin-bottom: 1rem;
  }

  &__subtle {
    background-color: $background-color;
    border-color: $gray-medium;
    color: $text-default-color;

    img {
      display: block;
      margin: 0 auto 1rem;
      max-width: 500px;
      width: 85%;
    }
  }

  &__feature {
    background-color: $tf-blue;
    border-color: transparent;
    color: $background-color;

    img {
      display: block;
      margin: 0 auto 1rem;
      max-width: 500px;
      width: 85%;
    }
  }

  &__image {
    background-size: cover;
    border: 0;
    color: $background-color;

    img {
      display: block;
      margin: 0 auto 1rem;
      max-width: 500px;
      width: 85%;
    }
  }

  &__most-read {
    background-color: $background-color;
    border-color: $gray-medium;
    color: $text-default-color;
    margin-bottom: 0;
    padding: 1rem 1rem 0;

    a {
      color: $text-default-color;
      text-decoration: none;
      transition-duration: .25s;
      transition-property: color;
      transition-timing-function: ease-in ease-out;

      &:active,
      &:focus,
      &:hover {
        color: $tf-blue;
      }
    }

    hr {
      left: -2rem;
      margin: 1rem 0;
      width: 17.9rem;
    }

    li {
      font-size: 1.75rem;
      font-weight: 700;
      margin-left: 1rem;
    }

    p {
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0;
      vertical-align: text-top;
    }
  }

}
