.widget__state img {
  display: block;
  margin: 0 auto 1rem auto;
  width: 85%;
  max-width: 500px;
}

.widget__state div {
  margin-bottom: 1rem;
}

.widget__email img {
  display: block;
  margin: 0 auto 1rem auto;
}

.widget__email div {
  margin-bottom: 1rem;
}
