.about-us-header {
    background: $tf-blue;
    background-image: url(../images/dots.png);
    height: 15rem;
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 0;
    position: relative;

    @include mobile-only {
      height: 12rem;
    }
}

.about-us-header-text {
    color: $background-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: $content-width;
    height: 55%;
    margin: auto;

    @include desktop-up {
      height: 70%;
    }

    h1 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      line-height: 2.25rem;
      text-align: center;

        @include desktop-up {
          font-size: 3rem;
          line-height: 2.75rem;
        }

        @include mobile-only {
          font-size: 2.25rem;
          line-height: 1.75rem;
        }
    }
}

.about-nav {

  @include mobile-only {
    display: table;
    width: 100%;
  }

  ul {
    margin: 0;
  }
}

.about-nav li {
  background-color: $background-color;
  border-right: 1.5px solid $gray-light;
  border-bottom: 1.5px solid $gray-light;
  color: $gray-medium;
  display: block;
  float: left;
  list-style: none;
  text-align: center;
  font-size: .9rem;
  line-height: 2rem;
  padding: 0 .75rem;
  transition-duration: .1s;
  transition-property: background-color, color;
  transition-timing-function: ease-out;

    @include desktop-up {
      font-size: 1rem;
      line-height: 2.5rem;
      padding: 0 1.5rem;
    }

    @include mobile-only {
      margin: 0 auto;
      display: table-cell;
      width: 100%;
      font-size: 1rem;
      line-height: 2.75rem;
      border: none;
      border-bottom: 1.5px solid $gray-light;
    }

  &:first-child {
    border-left: 1.5px solid $gray-light;

    @include mobile-only {
      border-left: none;
    }

  }

  &:hover,
  &:active {
    color: $gray-dark;
    background-color: #cceaff;
  }

  a {
    color: $gray-medium;
    text-decoration:none;
    transition-duration: .1s;
    transition-property: color;
    transition-timing-function: ease-out;

    &:hover {
      color: $gray-dark;
    }
  }
}

.about-body {
  flex: 1;
  margin-top: 2rem;
  max-width: $max-width;
  padding: 0 $content-margin;
  width: $content-width;

  @include desktop-up {
    max-width: 900px;
  }
}
