.about-us-header {
    background: $tf-blue;
    background-image: url(../images/dots.png);
    height: 15rem;
    width: 100%;
    margin: 3rem 0 0 0;
    padding: 0;
    position: relative;
}

.about-us-header-text {
    color: $background-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: $content-width;
    height: 55%;
    margin: auto;

    @include desktop-up {
      height: 70%;
    }

    h1 {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      line-height: 2.25rem;
      text-align: center;

        @include desktop-up {
          font-size: 3rem;
          line-height: 2.75rem;
        }
    }
}

.about-nav-list li {
  background-color: $background-color;
  border-right: 1.5px solid $gray-light;
  border-bottom: 1.5px solid $gray-light;
  color: $gray-medium;
  float: left;
  list-style: none;
  font-size: .9rem;
  line-height: 2.5rem;
  transition-duration: .1s;
  transition-property: background-color, color;
  transition-timing-function: ease-out;

  &:first-child {
    border-left: 1.5px solid $gray-light;
  }

  &:hover {
    background-color: #e6f4ff;
  }

  a {
    color: $gray-medium;
    display: block;
    padding:0 1.25rem;
    text-decoration:none;
    transition-duration: .1s;
    transition-property: color;
    transition-timing-function: ease-out;

    &:hover {
      color: $gray-dark;
    }
  }
}
