.box {
  border-radius: .5rem;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}

.box-brand {
  border-color: $tf-blue;
}

.box-subtle {
  border-color: $gray-lighter;
}

.box-gray {
  background-color: $gray-lighter;
  border-color: $gray-light;
}
