$date-text-color: #aaa;
$author-block-border-color: #ddd;

.title-bar {
  margin-bottom: 1.75rem;
}

.date {
  color: $date-text-color;
  font-size: .8rem;
  margin-bottom: .8rem;
  }

.byline {
  display: inline-block;
  margin: 0 .5rem .75rem 0;
  transition-duration: .2s;
  transition-property: opacity, background-color;
  transition-timing-function: ease-out;

  &:hover {
    opacity: .7;
  }

  .author {
    border: solid 1.5px $author-block-border-color;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    img {
      display: inline-block;
      vertical-align: middle;
      background: $gray-light;
      width: 2.25rem;
      height: 100%;
      float: left;
    }

    p {
      float: left;
      align: center;
      padding: 0 .75rem;
      color: $gray-medium;
      font-size: 1rem;
      line-height: 2.25rem;
      height: 2.25rem;
    }
  }
}
