  .byline {
    display: inline-block;
    cursor: pointer;
    margin: .75rem 1rem 1rem 0;

    img {
      background: $gray-light;
      width: 2.5rem;
      height: 2.5rem;
      float: left;
      }

    p {
      float: right;
      align: center;
      padding: .6rem 1.5rem 1rem 1.5rem;
      height: 2.5rem;
      color: #aaa;
      font-size: 1rem;
      border-left: none;
      border-top: solid 1.5px #aaa;
      border-right: solid 1.5px #aaa;
      border-bottom: solid 1.5px #aaa;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      }

.date p {
  color: #aaa;
  font-size: .75em;
  margin: 0;
  }

}
