%shared-form-styles {
  border-radius: $border-radius;
  font-family: $font-sans-serif;
  font-size: 1rem;
  margin: 0 0 1rem;

  &:last-child {
    margin: 0;
  }
}

form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select,
textarea {
  @extend %shared-form-styles;
  background: $background-color;
  border: solid 1px $gray-light;
  padding: .5rem;
  width: 100%;

  &:focus {
    border: solid 1px $tf-blue;
    outline: none;
  }
}

input[type="radio"],
input[type="checkbox"] {
  align-self: flex-start;
  width: auto;
}

button,
.button {
  @extend %shared-form-styles;
  background: $tf-blue;
  border: solid 1px $tf-blue;
  color: $background-color;
  cursor: pointer;
  padding: .5rem 1rem;
  transition-property: background-color, border;
  transition-duration: .1s;
  transition-timing-function: ease-out;

  &:active,
  &:focus,
  &:hover {
    background: lighten($tf-blue, 15%);
    border: solid 1px lighten($tf-blue, 15%);
  }

  &.inverted {
    background: $background-color;
    color: $tf-blue;
    transition-property: border, color;
    transition-duration: .1s;
    transition-timing-function: ease-out;

    &:active,
    &:focus,
    &:hover {
      border: solid 1px lighten($tf-blue, 15%);
      color: lighten($tf-blue, 15%);
    }
  }
}

label,
legend {
  align-self: flex-start;
  display: block;
  margin-bottom: .4rem;
}

fieldset {
  width: 100%;

  label {
    display: inline-block;
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }
}
