%shared-form-styles {
  border-radius: 4px;
  font-family: $font-sans-serif;
  font-size: 1rem;
  margin: 0 0 1rem;

  &:last-child {
    margin: 0;
  }
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  @extend %shared-form-styles;
  background: $background-color;
  border: solid 1px $gray-light;
  padding: .5rem;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  align-self: flex-start;
  width: auto;
}

button,
.button {
  @extend %shared-form-styles;
  background: $tf-blue;
  border: solid 1px $tf-blue;
  color: #fff;
  cursor: pointer;
  padding: .5rem 1rem;

  &.inverted {
    background: $background-color;
    color: $tf-blue;
  }
}

label,
legend {
  align-self: flex-start;
  display: block;
  margin-bottom: .4rem;
}

fieldset {
  width: 100%;

  label {
    display: inline-block;
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }
}
