@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,300italic,900|Roboto+Mono);

// Font Families
$font-sans-serif: 'Lato', sans-serif;
$font-monospace: 'Roboto Mono', monospace;

// Colors
$gray-lighter: #eee;
$gray-light: #ccc;
$gray-medium: #888;
$gray-dark: #666;
$gray-darker: #555;

$tf-blue: #0094ff;
$background-color: #fefefe;
$text-default-color: $gray-darker;

$green: #6eb76e;

// Root Em Size
$root-em: 18px;

// Borders
$border-radius: 4px;

// Screen Sizes
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width: 1100px;

// Font sizes
$paragraph-font-size-mobile: 1rem;
$paragraph-font-size-tablet: 1rem;
$paragraph-font-size-desktop: 1rem;
$paragraph-line-height-mobile: 1.5rem;
$paragraph-line-height-tablet: 1.5rem;
$paragraph-line-height-desktop: 1.7rem;

// Structure Variables
$content-margin: 36px;

// Global Screen Styles
html {
  background-color: $background-color;
  color: $text-default-color;
  font-family: $font-sans-serif;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  font-size: .875 * $root-em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga" on;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: #{$tablet-width}) {
    font-size: $root-em;
  }
}

::selection {
  background-color: $tf-blue;
  color: $background-color;
}

// Print Styles
@media print {
  html {
    background: none;
    color: #000;
    font-family: $font-sans-serif;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
    font-size: 8pt;
    text-rendering: optimizeLegibility;
  }

  @page {
    margin: 1in;
  }
}

// Utilities
.hidden-mobile {
  @media only screen and (min-width: 0) and (max-width: #{$tablet-width}) {
    display: none;
  }
}
