.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem;

  > * {
    flex: 1;

    @include mobile-only {
      min-width: 100%;
    }
  }
}

.row {
  flex-direction: row;

  > * {
    margin: .5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet-up {
      margin: 0 .5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.column {
  flex-direction: column;

  > * {
    margin: 0;

    @include tablet-up {
      margin: .5rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

%nowrap {
  flex-wrap: nowrap;
}

@include tablet-up {
  @extend %nowrap;
}
