.container {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 calc(100% - 1rem);

    @include tablet-up {
      flex: 1;
      flex-wrap: nowrap;
    }
  }

  .container {
    margin-bottom: 0;
  }
}

.row {
  flex-direction: row;
  margin: 0 0 0 -1rem;

  @include tablet-up {
    margin: 0 0 0 -1rem;
  }

  > * {
    margin: 0 0 1rem 1rem;

    @include tablet-up {
      margin: 0 0 1rem 1rem;
    }
  }
}

.column {
  flex-direction: column;
  margin: -.5rem 0;

  > * {
    flex: none;
    margin: .5rem 0;
  }
}

@include tablet-up {
  .tablet-column-25 {
    flex: 0 0 calc(25% - 1rem);
  }

  .tablet-column-33 {
    flex: 0 0 calc(33.333% - 1rem);
  }

  .tablet-column-50 {
    flex: 0 0 calc(50% - 1rem);
  }

  .tablet-column-66 {
    flex: 0 0 calc(66.666% - 1rem);
  }

  .tablet-column-100 {
    flex: 0 0 calc(100% - 1rem);
  }
}

@include desktop-up {
  .desktop-column-25 {
    flex: 0 0 calc(25% - 1rem);
  }

  .desktop-column-33 {
    flex: 0 0 calc(33.333% - 1rem);
  }

  .desktop-column-50 {
    flex: 0 0 calc(50% - 1rem);
  }

  .desktop-column-66 {
    flex: 0 0 calc(66.666% - 1rem);
  }

  .desktop-column-100 {
    flex: 0 0 calc(100% - 1rem);
  }
}
