$header-height: 60px;
$header-background: $tf-blue;
$header-color: #fff;

header {
  align-items: stretch;
  background-color: $header-background;
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 1rem;
  padding: 0;
  width: 100%;
  z-index: 100;

  > * {
    max-width: $max-width;
  }
}

.header-bar {
  align-items: stretch;
  color: $header-color;
  flex-wrap: nowrap;
  font-family: $font-sans-serif;
  font-size: 1rem;
  height: $header-height;
  margin: 0;
  padding-left: $content-margin;
  width: 100%;

  a,
  a:hover {
    background: none;
    color: $header-color;
    text-decoration: none;
    text-shadow: none;
  }

  @media print {
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
  }
}

.header-logo {
  align-items: center;
  display: flex;
  flex: none;
}

.header-menu {
  display: none;
}

.header-menu-mobile-toggle {
  align-content: stretch;
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: $content-margin;

  img {
    height: $header-height / 3;
    width: $header-height / 3;
  }
}

@include tablet-up {
  .header-menu-mobile-toggle {
    display: none;
  }

  .header-menu {
    align-content: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: right;

    > ul {
      align-items: stretch;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      list-style: none;

      > li {
        display: flex;
        flex: none;
        flex-direction: column;
        position: relative;
      }
    }

    input {
      display: none;

      &:checked ~ .nav-dropdown {
        opacity: 1;
        top: $header-height;
        visibility: visible;
      }
    }

    label {
      flex: 1;
      padding: ($header-height / 4) $content-margin 0;
      z-index: 2;

      &:hover {
        @include hover-transition(.1s);

        background-color: lighten($tf-blue, 15%);
        cursor: pointer;

        ~ .nav-dropdown {
          opacity: 1;
          top: $header-height;
          visibility: visible;
        }
      }
    }
  }

  .header-icons {
    height: 1.2rem;
  }
}

.nav-dropdown {
  background: $tf-blue;
  left: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -$header-height;
  visibility: hidden;
  z-index: 1;

  &:hover {
    opacity: 1;
    top: $header-height;
    visibility: visible;
  }

  li {
    padding: ($content-margin / 2) $content-margin;

    &:hover {
      background-color: lighten($tf-blue, 15%);
    }
  }

  a,
  a:hover {
    background: none;
    color: $header-color;
    text-decoration: none;
    text-shadow: none;
  }
}
