h1,
.h1-text {
  @include font-sizes(
    $paragraph-font-size-mobile * 3,
    $paragraph-font-size-tablet * 3.5,
    $paragraph-font-size-desktop * 3.5
    );
  font-weight: 300;
  line-height: normal;
  margin-bottom: .8rem;
}

h2,
.h2-text {
  @include font-sizes(
    $paragraph-font-size-mobile * 1.75,
    $paragraph-font-size-tablet * 1.75,
    $paragraph-font-size-desktop * 1.75
    );
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

h3,
.h3-text {
  @include font-sizes(
    $paragraph-font-size-mobile * 1.3,
    $paragraph-font-size-tablet * 1.3,
    $paragraph-font-size-desktop * 1.3
    );
  font-weight: 400;
  line-height: normal;
  margin-bottom: .9rem;
}

h4,
.h4-text {
  @include font-sizes(
    $paragraph-font-size-mobile * 1.3,
    $paragraph-font-size-tablet * 1.3,
    $paragraph-font-size-desktop * 1.3
    );
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-bottom: .9rem;
}

h5,
.h5-text {
  @include font-sizes(
    $paragraph-font-size-mobile * 1.25,
    $paragraph-font-size-tablet * 1.5,
    $paragraph-font-size-desktop * 1.5
    );
  font-weight: 400;
  line-height: normal;
  margin-bottom: .9rem;
}

h6,
.h6-text {
  @include font-sizes(
    $paragraph-font-size-mobile * 1.25,
    $paragraph-font-size-tablet * 1.5,
    $paragraph-font-size-desktop * 1.5
    );
  font-weight: 400;
  line-height: normal;
  margin-bottom: .9rem;
}
