$header-height: 60px;
$header-background: $tf-blue;
$header-color: #fff;

header {
  align-items: stretch;
  background-color: $header-background;
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 1.5rem;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  > * {
    max-width: $max-width;
  }

  @media print {
    display: none;
  }

}

%header-bar-link-styles {
  background: none;
  color: $header-color;
  text-decoration: none;
  text-shadow: none;
}

.header-bar {
  align-items: stretch;
  color: $header-color;
  flex-wrap: nowrap;
  font-family: $font-sans-serif;
  font-size: 1rem;
  height: $header-height;
  margin: 0;
  padding-left: $content-margin;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
  }
}

.header-logo {
  align-items: center;
  display: flex;
  flex: none;

  a,
  a:hover {
    @extend %header-bar-link-styles;
  }
}

.header-menu-mobile-toggle {
  align-content: stretch;
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: $content-margin;

  img {
    height: $header-height / 3;
    width: $header-height / 3;
  }
}

.header-menu {
  align-content: stretch;
  display: none;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: right;

  > ul {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    list-style: none;

    > li {
      display: flex;
      flex: none;
      flex-direction: column;
      position: relative;
    }
  }
}


a {
  padding: ($header-height / 4) ($content-margin / 2.5) 0;
  font-weight: 700;
  font-size: .85rem;

  &:hover {
    @extend %header-bar-link-styles;
    @include hover-transition(.1s);

    background-color: lighten($tf-blue, 15%);
    cursor: pointer;
  }
}

.nav-submenu {
  background: $header-color;
  border-bottom: 1px solid $header-background;
  color: $text-default-color;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  text-align: left;

  > * {
    margin: 0 auto;
    max-width: $max-width;
    padding: 1rem;
  }

  a {
    color: $header-background;
  }

  li {
    list-style: none;
  }
}

.header-icons {
  height: 1.2rem;
}

@include tablet-up {
  .header-menu {
    display: flex;
  }

  .header-menu-mobile-toggle {
    display: none;
  }
}
