$link-color: $tf-blue;

a {
  background: none;
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active {
    background-image: linear-gradient(to top, $background-color 75%, $link-color 75%);
    background-position: 50% 92%;
    background-repeat: no-repeat;
    background-size: 100% 10%;
    color: $link-color;
    text-decoration: none;
    text-shadow: -1px 0 $background-color, 0 1px $background-color, 1px 0 $background-color, 0 -1px $background-color;
  }
}
