ol,
ul {
  @include font-sizes();
  @include line-heights();
  list-style-position: inside;
  margin-bottom: $paragraph-line-height-mobile;
  padding-left: .2rem;

  @include tablet-only {
    margin-bottom: $paragraph-line-height-tablet;
  }

  @include desktop-up {
    margin-bottom: $paragraph-line-height-desktop;
  }
}

ol {
  list-style-type: decimal; //First, numbers

  ol {
    list-style-type: lower-alpha; //Then, letters
    padding-left: .4rem;

    ol {
      list-style-type: lower-roman; //Finally, numerals
      padding-left: .6rem;
    }
  }
}

ul {
  list-style-type: disc; //First, bullet

  ul {
    list-style-type: circle; //Then, empty bullet
    padding-left: .4rem;

    ul {
      padding-left: .6rem;
    }
  }
}
