// Typography mixins
@mixin set-font ($size: 1rem, $height: 1.5, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

// Media Query mixins
@mixin tablet {
  @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin font-sizes ($mobile: .9rem, $tablet: 1rem, $desktop: 1rem) {
  font-size: $mobile;

  @include tablet {
    font-size: $tablet;
  }

  @include desktop {
    font-size: $desktop;
  }
}

@mixin line-heights ($mobile: 1.4, $tablet: 1.5, $desktop: 1.5) {
  line-height: $mobile;

  @include tablet {
    line-height: $tablet;
  }

  @include desktop {
    line-height: $desktop;
  }
}
