// Typography mixins
@mixin set-font ($size: 1rem, $height: 1.5, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

// Media Query mixins
@mixin mobile-only {
  @media only screen and (min-width: 0) and (max-width: calc(#{$tablet-width - 1px})) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-only {
  @media only screen and (min-width: #{$tablet-width}) and (max-width: calc(#{$desktop-width - 1px})) {
    @content;
  }
}

@mixin desktop-up {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin font-sizes (
  $mobile: $paragraph-font-size-mobile,
  $tablet: $paragraph-font-size-tablet,
  $desktop: $paragraph-font-size-desktop
  ) {
  font-size: $mobile;

  @include tablet-only {
    font-size: $tablet;
  }

  @include desktop-up {
    font-size: $desktop;
  }
}

@mixin line-heights (
  $mobile: $paragraph-line-height-mobile,
  $tablet: $paragraph-line-height-tablet,
  $desktop: $paragraph-line-height-desktop
  ) {
  line-height: $mobile;

  @include tablet-only {
    line-height: $tablet;
  }

  @include desktop-up {
    line-height: $desktop;
  }
}

@mixin hover-transition($timing) {
  transition-property: background-color, color;
  transition-duration: $timing;
  transition-timing-function: ease-out;
}
