p,
.paragraph-text {
  @include font-sizes(.9, 1, 1);
  @include line-heights(1.4, 1.5, 1.5);
  margin-bottom: .9rem;

  @include tablet {
    margin-bottom: 1rem;
  }

  @include desktop {
    margin-bottom: 1rem;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
