p,
.paragraph-text {
  @include font-sizes();
  @include line-heights();
  font-family: $font-serif;
  margin-bottom: .9rem;

  @include tablet {
    margin-bottom: 1rem;
  }

  @include desktop {
    margin-bottom: 1rem;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
