body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  
  &.admin-bar header {
    top: 32px;
  }
}

main {
  flex: 1;
  margin-top: 76px; // Fixed position header offset
  max-width: $max-width;
  padding: 0 $content-margin;
  width: $content-width;

  @include desktop-up {
    max-width: 900px;
  }
}

// Horizontal Rules
$hr-color: $gray-light;

hr {
  background-color: $hr-color;
  border: 0;
  color: $hr-color;
  height: 1px;
  margin: 2.75rem 0;
  position: relative;
}

.divider {
  width: 500%;
  margin-left: -200%;
}
