body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  &.admin-bar header {
    top: 32px;
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 100px auto 5rem; // Fixed position header offset

}

.width-narrow {
  margin: 0 $content-margin 0;

  @include desktop-up {
    width: 550px;
  }
}

.width-article {
  margin: 0 $content-margin 0;

  @include desktop-up {
    width: 700px;
  }
}

.width-normal {
  margin: 0 $content-margin 0;

  @include desktop-up {
    width: 900px;
  }
}

.width-wide {


  @include mobile-only {
    margin: 0 $content-margin 0;
  }

  @include desktop-up {
    width: 1100px;
  }
}

.width-full {
  width: 100%;
}

.indent {

  @include tablet-up {
    margin: 0 0 2rem 2rem;
  }

  @include mobile-only {
    margin-top: 0;
  }
}

// Horizontal Rules
$hr-color: $gray-light;

hr {
  background-color: $hr-color;
  border: 0;
  color: $hr-color;
  height: 1px;
  margin: 2.5rem 0;
  position: relative;
}

.divider {
  width: 4000%;
  position: relative;
  left: -1000%;
}

.horizontal-space {
  position: sticky;
  width: 1rem;
}
