.state-widget img {
  display: block;
  margin: 0 auto 1rem auto;
  width: 85%;
  max-width: 500px;
}

.state-widget div {
  margin-bottom: 1rem;
}

.email-widget img {
  display: block;
  margin: 0 auto 1rem auto;
}

.email-widget div {
  margin-bottom: 1rem;
}
