<h2>Boxes</h2>
<div class="container row">
  <div class="box box-brand">
    <p>
      This is a brand box, classed <code>box box-brand</code>.
    </p>
    <p>
      Test content. Just to see what my box looks like.
    </p>
    <p>
      A bit more content. Gotta really test it.
    </p>
    <ul>
      <li>A list</li>
      <li>For good measure</li>
    </ul>
  </div>

  <div class="box box-subtle">
    <p>
      This is a subtle box, classed <code>box box-subtle</code>.
    </p>
    <p>
      Test content. Just to see what my box looks like.
    </p>
    <p>
      A bit more content. Gotta really test it.
    </p>
    <ul>
      <li>A list</li>
      <li>For good measure</li>
    </ul>
  </div>

  <div class="box box-gray">
    <p>
      This is a gray box, classed <code>box box-gray</code>.
    </p>
    <p>
      Test content. Just to see what my box looks like.
    </p>
    <p>
      A bit more content. Gotta really test it.
    </p>
    <ul>
      <li>A list</li>
      <li>For good measure</li>
    </ul>
  </div>

<div class="box box-feature">
  <p>
    This is a blue box, classed <code>box box-gray</code>.
  </p>
  <p>
    Test content. Just to see what my box looks like.
  </p>
  <p>
    A bit more content. Gotta really test it.
  </p>
  <ul>
    <li>A list</li>
    <li>For good measure</li>
  </ul>
</div>
</div>
