<h2>Content Cards</h2>
<div class="container row cards">
  <div class="card tablet-column-33">
    <div class="image" style="background-image:url('/images/complexity.png')">
    </div>
    <div class="content">
      <h2>A Content Title Goes Here</h2>
      <p>
        This is the place for one of those brief content descriptions you hear about. Qui nulla rump capicola t-bone venison dolore.
      </p>
    </div>
  </div>
  <div class="card tablet-column-33">
    <div class="image" style="background-image:url('/images/jets.gif')">
    </div>
    <div class="content">
      <h2>Another Content Title Goes Right Here</h2>
      <p>
        Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.
      </p>
    </div>
  </div>
  <div class="card tablet-column-33">
    <div class="image" style="background-image:url('/images/wind.jpg')">
    </div>
    <div class="content">
      <h2>3rd Content Title</h2>
      <p>
        Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse.
      </p>
    </div>
  </div>
  <div class="card tablet-column-33">
    <div class="image" style="background-image:url('/images/capitol.png')">
    </div>
    <div class="content">
      <h2>Another Content Title That's A Little Bit Longer Goes Right Here</h2>
      <p>
        Qui nulla rump capicola t-bone venison dolore. Cupim ham hock ea pork belly, leberkas boudin cillum elit cupidatat nulla.
      </p>
    </div>
  </div>
  <div class="card tablet-column-33">
    <div class="image" style="background-image:url('/images/oregon.png')">
    </div>
    <div class="content">
      <h2>3rd Content Title</h2>
      <p>
        Bacon ipsum dolor amet fugiat cupim in short ribs shoulder bacon boudin kevin occaecat porchetta hamburger short loin ground round velit esse.
      </p>
    </div>
  </div>
</div>
