{% extends './_partials/base.html' %}

{% block content %}

<div class="container row">

  <div class="tablet-column-100 desktop-column-30">

  </div>

  <div class="tablet-column-60 desktop-column-40 column--fixed column--centered">
    {% include 'categories.html' with categories %}
    <h1>{{post.heading}}</h1>

    <div class="title-bar">
      <p class="date">{{post.date}}</p>

        {% for author in post.authors %}
          {% include 'byline.html' with author %}
        {% endfor %}
    </div>


    <div>
      {{post.body | raw}}
    </div>

    <div>
      {% include 'tags.html' with tags %}
    </div>
  </div>

  <div class="tablet-column-100 desktop-column-30">

    <div class="box box--feature email-widget tablet-column-50 desktop-column-33 column--fixed">
      <h2>Subscribe to Our Newsletter!</h2>
      <h3><strong>Join over 20,000!</strong> Get the latest in tax news and analysis, delivered directly to your inbox.</h3>
      <br>
      <form>
          <input type="email" placeholder="Email Address..." />
          <button type="button" name="button" class="featured">Submit</button>
      </form>
    </div>

  </div>

</div>

{% endblock %}
