<div class="container width-constrained">

  <!-- Flexbox Grid -->

  <h2>Grids</h2>
  <p>
    Our grids are simple and use flexbox. Below are some boxes placed inside grid containers.
  </p>
  <div class="container row">
    <div class="box box-brand">
      <p>
        This is a container row. It has two children automatically filling the available area. On mobile, they stack.
      </p>
    </div>
    <div class="box box-brand"></div>
  </div>
  <div class="container row">
    <div class="box box-brand"></div>
    <div class="box box-brand">
      <p>
        This is a container row. It has three children automatically filling the available area. On mobile, they stack.
      </p>
    </div>
    <div class="box box-brand"></div>
  </div>
  <div class="container row">
    <div class="box box-brand"></div>
    <div class="box box-brand">
      <p>
        This is a container row. It has four children automatically filling the available area. On mobile, they stack.
      </p>
    </div>
    <div class="box box-brand"></div>
    <div class="box box-brand"></div>
  </div>

  <div class="container row">
    <div class="box box-brand">
      <p>
        This column sizes automatically.
      </p>
    </div>
    <div class="box box-brand tablet-column-fixed-25 desktop-column-fixed-25">
      <p>
        This column will always be one-third width on tablets using the <code>.tablet-column-fixed-33</code> class. On desktops, it will be 25% with the <code>desktop-column-fixed-25</code> class.
      </p>
    </div>
  </div>

  <div class="container row">
    <div class="box box-brand tablet-column-fixed-33">
      <p>
        This column will always be one-third width on tablets and bigger screens using the <code>.tablet-column-fixed-33</code> class.
      </p>
    </div>
    <div class="box box-brand tablet-column-fixed-33">
      <p>
        This column will always be one-third width on tablets and bigger screens using the <code>.tablet-column-fixed-33</code> class.
      </p>
    </div>
    <div class="box box-brand tablet-column-fixed-33">
      <p>
        This column will always be one-third width on tablets and bigger screens using the <code>.tablet-column-fixed-33</code> class.
      </p>
    </div>
  </div>

  <div class="container row">
    <div class="box box-brand">
      <div class="container column">
        <div class="box box-gray">
          <p>
            You can easily nest grids. Here are two children of a row with a column inside each.
          </p>
        </div>
        <div class="box box-gray"></div>
      </div>
    </div>
    <div class="box box-brand">
      <div class="container column">
        <div class="box box-gray"></div>
        <div class="box box-gray">
          <div class="container row">
            <div class="box box-subtle">
              <p>More nesting grids and such. Grids in grids in grids...</p>
            </div>
            <div class="box box-subtle"></div>
          </div>
        </div>
        <div class="box box-gray"></div>
      </div>
    </div>
  </div>
</div>
