{% set link-list = [
  {
    "link": "#",
    "title": "Pennsylvania Illustrated: A Visual Guide to  Taxes & The Economy",
    "date": "May 16, 2016"
  },
  {
    "link": "#",
    "title": "Cost Recovery for New Corporate Investments  in 2012",
    "date": "February 01, 2016"
  },
  {
    "link": "#",
    "title": "Cost Recovery for New Corporate Investments  in 2012",
    "date": "February 01, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Dr. Ben Carson’s Tax Plan",
    "date": "January 21, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Senator Ted Cruz’s Tax Plan",
    "date": "January 14, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Senator Rick   Santorum’s TaxPlan",
    "date": "January 06, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Governor Jeb Bush’s TaxPlan",
    "date": " November 17, 2015"
  },
  {
    "link": "#",
    "title": "Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy",
    "date": "May 16, 2016"
  },
  {
    "link": "#",
    "title": "Cost Recovery for New Corporate Investments  in 2012",
    "date": "February 01, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Dr. Ben Carson’s Tax Plan",
    "date": "January 21, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Senator Ted Cruz’s Tax Plan",
    "date": "January 14, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Senator Rick   Santorum’s TaxPlan",
    "date": "January 06, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Governor Jeb Bush’s TaxPlan",
    "date": " November 17, 2015"
  },
  {
    "link": "#",
    "title": "Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy",
    "date": "May 16, 2016"
  },
  {
    "link": "#",
    "title": "Cost Recovery for New Corporate Investments  in 2012",
    "date": "February 01, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Dr. Ben Carson’s Tax Plan",
    "date": "January 21, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Senator Ted Cruz’s Tax Plan",
    "date": "January 14, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Senator Rick Santorum’s TaxPlan",
    "date": "January 06, 2016"
  },
  {
    "link": "#",
    "title": "Details and Analysis of Governor Jeb Bush’s TaxPlan",
    "date": "November 17, 2015"
  },
  {
    "link": "#",
    "title": "Pennsylvania Illustrated: A Visual Guide to  Taxes &amp; The Economy",
    "date": "May 16, 2016"
  },
  {
    "link": "#",
    "title": "Cost Recovery for New Corporate Investments  in 2012",
    "date": "February 01, 2016"
  }
] %}
{% include '../_partials/post-list.html' with link-list %}
