<h2>Tables</h2>
<p>
  By default, tables are centered inside the parent container. To make a table horizontally fill its parent container, give it the <code>.full-width</code> class.
</p>

<table>
<thead>
  <tr>
    <th>Revenue</th>
    <th>2012</th>
    <th>2013</th>
    <th>2014</th>
    <th>2015</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td colspan="7">Note: this is a section for notes, sources, and other nifty things like that. And this is a second sentence for good measure.</td>
  </tr>
</tfoot>
<tbody>
  <tr>
    <td>Philanthropic Foundations</td>
    <td>$756,095</td>
    <td>$1,223,977</td>
    <td>$1,552,000</td>
    <td>$1,275,750</td>
  </tr>
  <tr>
    <td>Business Contributions</td>
    <td>$802,814</td>
    <td>$1,129,900</td>
    <td>$1,481,004</td>
    <td>$1,350,525</td>
  </tr>
  <tr>
    <td>Donations from Individuals</td>
    <td>$355,899</td>
    <td>$348,009</td>
    <td>$379,348</td>
    <td>$520,467</td>
  </tr>
  <tr>
    <td>Event Revenue (Net)</td>
    <td>$237,643</td>
    <td>$230,389</td>
    <td>$290,425</td>
    <td>$373,054</td>
  </tr>
  <tr>
    <td>Investment Income</td>
    <td>$7,820</td>
    <td>$8,771</td>
    <td>$18,695</td>
    <td>$33,927</td>
  </tr>
  <tr>
    <td>Publication Sales &amp; Other</td>
    <td>$12,944</td>
    <td>$12,014</td>
    <td>$12,864</td>
    <td>$114,199</td>
  </tr>
  <tr>
    <td>Total Revenue</td>
    <td>$2,173,216</td>
    <td>$2,953,060</td>
    <td>$3,764,529</td>
    <td>$3,667,922</td>
  </tr>
</tbody>
</table>

<table>
<thead>
  <tr>
    <th>Revenue</th>
    <th>2012</th>
    <th>2013</th>
    <th>2014</th>
    <th>2015</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td colspan="7">Note: this is a section for notes, sources, and other nifty things like that. And this is a second sentence for good measure.</td>
  </tr>
</tfoot>
<tbody>
  <tr>
    <td>Philanthropic Foundations</td>
    <td>$756,095</td>
    <td>$1,223,977</td>
    <td>$1,552,000</td>
    <td>$1,275,750</td>
  </tr>
  <tr>
    <td>Business Contributions</td>
    <td>$802,814</td>
    <td>$1,129,900</td>
    <td>$1,481,004</td>
    <td>$1,350,525</td>
  </tr>
  <tr>
    <td>Donations from Individuals</td>
    <td>$355,899</td>
    <td>$348,009</td>
    <td>$379,348</td>
    <td>$520,467</td>
  </tr>
  <tr>
    <td>Event Revenue (Net)</td>
    <td>$237,643</td>
    <td>$230,389</td>
    <td>$290,425</td>
    <td>$373,054</td>
  </tr>
  <tr>
    <td>Investment Income</td>
    <td>$7,820</td>
    <td>$8,771</td>
    <td>$18,695</td>
    <td>$33,927</td>
  </tr>
  <tr>
    <td>Publication Sales &amp; Other</td>
    <td>$12,944</td>
    <td>$12,014</td>
    <td>$12,864</td>
    <td>$114,199</td>
  </tr>
  <tr>
    <td>Total Revenue</td>
    <td>$2,173,216</td>
    <td>$2,953,060</td>
    <td>$3,764,529</td>
    <td>$3,667,922</td>
  </tr>
</tbody>
</table>
