<h1>Tax Foundation Style Guide</h1>
<p>
  This page showcases the CSS styles used by default in Tax Foundation web properties.
</p>

<hr><!-- Heading Styles -->

<h1>h1. Headings</h1>
<h2>h2. Subheadings</h2>
<h3>h3. Sub-subheadings</h3>
<h4>h4. Sub-sub-subheadings</h4>

<hr><!-- Paragraph Styles -->
<h2>Paragraphs</h2>

<p>
  This is the default paragraph style. Note how lovely this text is. I handcrafted it just for you! Now let's see how it looks <em>with emphasis</em>. That's just so <em>emphatic</em>. This text can be <strong>pretty strong, too</strong>. You can even combine <strong><em>strength and emphasis (and vice versa)</em></strong>.
</p>
<p>
  Now what would a proper paragraph on the web be without <a href="#">a link to something else</a>?
</p>
<p>
  Bacon ipsum dolor amet kielbasa spare ribs pig, short ribs biltong hamburger leberkas porchetta alcatra short loin. Boudin capicola meatloaf, meatball sirloin kevin filet mignon t-bone hamburger strip steak tongue. Pig alcatra tail venison pork belly, ball tip cupim cow beef ribs flank bresaola shoulder beef. Tri-tip venison meatball t-bone.
</p>
<p>
  Bacon ipsum dolor amet jowl spare ribs boudin tenderloin ham hock, strip steak bacon swine turkey porchetta drumstick kielbasa t-bone cupim shank. Strip steak meatball shoulder venison flank, drumstick cupim tail porchetta alcatra short loin. Ribeye leberkas porchetta shank cupim salami hamburger. Salami pastrami chuck meatloaf chicken prosciutto. Swine turducken meatloaf ham hock corned beef turkey pork belly t-bone flank beef ham leberkas bacon. Pork beef corned beef pork chop porchetta meatloaf hamburger strip steak.
</p>
<p>
  Shankle tri-tip bacon, pig swine tongue pancetta shank. Tail picanha jowl, meatball leberkas fatback brisket ham hock. Short ribs jowl venison, ham hock ground round hamburger   pork loin capicola brisket kevin bacon. Sirloin frankfurter pancetta, drumstick brisket short loin kevin corned beef pork loin landjaeger swine rump filet mignon turducken.
</p>
